.landing-header {
color:whitesmoke;
}
.landing-header .navbar-default .navbar-nav>li>a {
color:whitesmoke;
}

.landing-row-one {
margin-top: -30px;
padding: 0;
overflow:hidden;
}

.landing-title-link {
color: #373A38;
text-decoration: none;
position:absolute;
top: 15%;
left: 20%;
font-size: 40pt;
color: #373A38;
font-family: 'Rock Salt', cursive;
text-shadow: 0 0 50px rgba(0,0,0,0.1);
}

.landing-pretitle {
font-family: 'Titillium Web', sans-serif;
font-size: 13pt;
color: #373A38;
text-shadow: 0 0 50px rgba(0,0,0,0.4);
position:absolute;
top: 10%;
left: 20%;
}

.landing-thumbnails {
position: absolute;
bottom: 100px;
width:auto;
left: 7.5%;
}

.landing-thumbnails .thumbnail {
background:rgba(201,201,201,0.9);
border:none;
min-height:250px;
max-height:250px;
font-family: 'PT Sans', sans-serif;
color: #051818;
text-shadow: #051818 0px 0px 0px;
font-size: 14pt;
width:60%;
}

.landing-thumbnails-sm {
display:none;
}

.landing-thumbnails .caption h3 {
font-size: 15pt;
font-family: 'PT Serif', serif;
font-weight:bold;
}

.landing-title-link:hover {
text-decoration: none;
}


.bg-4-img {
min-height: 1000px;
margin: 0 auto;
width: 100%;
background-position: center center;
}

.landing-bg4 {
min-height: 1000px;
margin: 0 auto;
position: relative;
width:100%;
}

.landing-bg4 .layer-eight {
font-size: 55pt;
font-family: 'PT Sans', sans-serif;
position: absolute;
left: 50%;
margin: 0 auto;
top:40%;
color:#C2B3B3;
}


@media screen and (max-width: 1600px) {
    .landing-thumbnails .thumbnail {
        min-height:300px;
        width:70%;
    }
    .landing-thumbnails {
        left: 6%;
    }
}

@media screen and (max-width: 1024px) {
    .landing-thumbnails .thumbnail {
        min-height:270px;
        width:70%;
    }
    .landing-thumbnails {
        bottom: 0;
    }

    .landing-thumbnails .thumbnail {
        font-size: 12pt;
    } 
}

@media screen and (max-width: 800px) {

    .landing-bg4 .layer-eight {
        left: 35%;
    }
    .landing-thumbnails .thumbnail {
        min-height:300px;
        width:70%;
    }
    .landing-thumbnails { 
        bottom: 0;
    }

}


/* center on human on smaller screens */
@media screen and (max-width: 767px)  {
    .landing-thumbnails-sm .thumbnail {
        background-color:#333;
        border:none;
        min-height:200px;
        max-height:200px;
        font-family: 'PT Sans', sans-serif;
        text-shadow: #051818 0px 0px 0px;
        width:100%;
    }

    .landing-thumbnails-sm .caption {
        color: #C9C9C9;
        font-size: 14pt;
    }

    .landing-thumbnails-sm h3 {
        font-size:25pt;
    }

    .landing-thumbnails-sm {
        display: block;
    }

    .landing-thumbnails-sm .row {
        margin: 20px;
    }

    .landing-thumbnails {
        display:none;
    }

    .landing-header nav {
        background: none;
        background-color: rgba(0,0,0, 0.4);
    }

    .landing-header .navbar-collapse {
        background-color: rgba(0,0,0, .8);
    }

    .landing-header .navbar .nav > li > a {
        color: grey;
    }

    .landing-header .navbar-collapse .has-feedback > input {
        color: grey;
        height: 45px;;
    }

    .landing-header .navbar-collapse .has-feedback > i {
        font-size: 15pt;
        line-height: 45px;
    }

    .landing-header .navbar-form {
        border-top: none;
        border-bottom: none;
    }

    section.landing-bg2 {
        min-height: 1100px;
    }

    section.landing-blank {
        min-height: 100px;
    }

    section.landing-blank .bg-blank {
        min-height: 100px;
    }

    .landing-title-link {
        top:20%;
    }
}

@media screen and (max-width: 500px) {
    .footer .media-link {       
        color:#fff;     
        margin-left:5px;        
    }

    .landing-bg4 .layer-eight {
        left: 30%;
    }

    .landing-title-link {
        left:18%;
        top:20%;
        font-size:30pt;
    }
    .landing-thumbnails-sm .thumbnail {
        min-height:250px;
    }
}



.landing-bg2 {
min-height: 100%; 
margin: 0 auto; 
position: relative; 
width: 100%; 
box-shadow: 0 0 50px rgba(0,0,0,0.8);
-webkit-box-shadow: 0 0 50px rgba(0,0,0,0.8);
background-color:#1A1A1A;
min-height: 500px;
}

.landing-blank {
min-height: 60px;
height: 60px;
position:relative;
width: 100%;
box-shadow: 0 0 50px rgba(0,0,0,0.8);
-webkit-box-shadow: 0 0 50px rgba(0,0,0,0.8);
color: #A2A2A2;
}

.bg-blank {
background-color: #1E1E24;
height: 60px;
}

.landing-blank .layer-caption {
position: absolute;
top: 10px;
font-size: 20pt;
width:100%;
margin: 0 auto;
float: none;
text-align:center;
font-family: 'Istok Web', sans-serif;
}

.landing-bg2 .layer-six {
position: absolute;
font-family: 'PT Sans', sans-serif;
font-size: 14pt;
top: 160px;
margin: 0 auto;
float: none;
width:100%;
padding: 30 50 50 90;
border-radius: 50%;
color: #313D37;
text-shadow: #313037 0px 0px 0px;
}

.landing-bg2 .layer-seven {
position: absolute;
top: 20px;
left: 7.7%;
color: #8C8C8C;
font-size: 12pt;
font-family: 'Source Sans Pro', sans-serif;
}

.landing-bg2 .layer-seven h3 {
color: #00966D;
font-family: 'Quattrocento Sans', sans-serif;
}

.landing-bg2 .row {
text-align:center;
font-size: 15pt;
color: #8C8C8C;
}

.landing-bg2 .col-sm-2 {
margin-bottom: 40px;
font-family: 'Dosis', sans-serif;
}

.landing-bg2 i {
display: inline-block;
text-shadow:0px 0px 10px black;
font-size: 50pt;
margin-bottom: 10px;
}

