.comment-box {
overflow:hidden;
}

.comment-project-owner {
background-color: #E3EDFE;
}

.comment-owner {
background-color: #A7D8B8;
}

.profile-story-link {
background-color: #333;
font-size:12pt;
padding: 10px;
cursor: pointer;
}

.footer-city-state {
text-overflow:ellipsis;
max-height:45px;
overflow:hidden;
width: 225px;
line-height:1.0;
  -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}


/* preserve linebreaks in alerts */
.alert ul {
white-space: pre-line;
}

/* adjust carousel controls to not block video controls  */
.carousel-control {
height: 80%;
display:none;
}

.carousel-indicators {
bottom: 30px;
display:none;
}

.carousel:hover .carousel-control {
display: block;
}

.carousel:hover .carousel-indicators {
display: block;
}

@media screen and (max-width: 1024px) {
    #donation_box {
        font-size: 11pt;
    }
}

@media screen and (max-width: 768px) {
    #donation_box {
        font-size: 15pt;
    }

    .nav .goals-tab {
        display: block;
    }
    .goals-full {
        display: none;
    }
    .goal-box {
        margin: 0 auto;
        max-width: 80%;
        min-width: 80%;
    }
}
@media screen and (min-width: 769px) {
    .nav .goals-tab {
        display: none;
    }
    .goals-full {
        display: block;
    }
    .goal-box {
        margin: 0 auto;
        max-width: 100%;
        min-width: 100%;
    }
}

.project-info-box {
margin-top: 10px;
}

.goal-box {
background-color: whitesmoke;
border-radius:4px;
border: none;
display: block;
margin-top: 20px;
}

.payment-alerts .alert {
display: inline-block;
width:100%;
}

.col-centered {
float:none;
margin: 0 auto;
}

.fourofour {
text-align: center;
}

.fourofour h1 {
font-size: 100pt;
}

.nav-alpha-label {
font-size: 10px;
border-top-left-radius: 100%;
border-top-right-radius: 100%;
color:#ADBCF5;
font-weight: bold;
}

.tos h4 {
font-weight: bold;
}

.carousel-control.left, .carousel-control.right {
background-image: none;
}

.carousel {
overflow: hidden;
}

.img-responsive-wrapper img {
display: block;
max-width:100%;
height:auto;
}

.upload-gallerybox {
width: 200px;
padding: 5px;
margin: 7px 7px 7px 0px;
min-height:200px;
border: 1px solid #ddd;
overflow: hidden;
display: inline-block;
}

.upload-gallerybox img {
max-height:85px;
}

.upload-gallerybox .thumbnail {
min-height: 100px;
}

.thumbnail-special {
margin-top: 10px;
}

.thumbnail-special i {
margin-bottom: 5px;
}

.grey-text {
color: #717171;
}

.thumbnail-main {
padding: 0px;
min-height:530px;
height: 530px;
border-top-left-radius: 10px;
border-top-right-radius: 10px;
margin-bottom: 55px;
/*box-shadow: 2px 2px 5px #ddd;*/
}

.thumbnail-main p {
margin-top: 15px;
overflow: hidden;
}

.hover-link {
cursor: pointer;
}

.thumbnail-main .caption {
text-align:left;
font-size: 12pt;
height:auto;
}

.thumbnail-footer {
position:absolute;
bottom: 60px;
}

/* Fix overlapping captions on footer for smaller screens */
@media screen and (max-width: 767px) {
    .thumbnail {
        min-height: 800px;
    }

    .thumbnail-footer {
        bottom: 10px;
    }

    .footer-city-state {
        width:auto;
    }
}
@media screen and (max-width: 600px) {
    .thumbnail {
        min-height: 750px;
    }
}

.thumbnail-main .thumbnail-img {
border-top-left-radius: 10px;
border-top-right-radius: 10px;
}

.ratio-4-3 {
width:100%;
position:relative;
background:url() 50% 50% no-repeat;
background-size:cover;
background-clip:content-box;
}

.ratio-4-3:before {
display:block;
content:"";
padding-top:75%;
}

.label-green {
color: #3c763d;
}

.checkbox-filter {
margin-top: 0px;
margin-bottom: 10px;
}

.newsupdate-form {
padding: 10px;
background-color: #7FB1EA;
border-radius: 5px;
}

.comment-form {
padding:10px;
background-color: #7FB1EA;
border-radius: 5px;
}

.faq-header {
color:#99C4E0;
background-color:#35414E;
padding: 20px;
border-radius: 5px;
font-weight: bold;
font-size:24pt;
margin-bottom:50px;
}

.faq-mini-header {
font-size:16pt;
color: #1F272D;
font-weight: bold;
border-left: 3px solid #1F272D;
}

.faq-text {
font-size: 14pt;
}

.faq-divider {
margin: 50px 0 50px 0;
}

.faq-box i {
font-size:30pt;
margin-top: 40px;
}

.faq-box .thumbnail {
text-align:center;
border-radius: 5px;
}

.faq-box .faq-links {
text-align:left;
font-size:15pt;
}

.faq-box .faq-link-sub {
font-size: 12pt;
color:grey;
margin-top: 5px;
display: inline-block;
}

.faq-box .thumbnail {
padding: 0;
height: 500px;
}

.faq-box .thumbnail-header {
background-color:#35414E;
color:#99C4E0;
border-top-left-radius: 5px;
border-top-right-radius: 5px;
margin-bottom: 10px;
padding-bottom: 10px;
}

@media screen and (max-width: 767px) {
    .faq-box .faq-link-sub {
        font-size: 15pt;
    }
    
    .faq-box .faq-links {
        font-size: 20pt;
    }
}


.badge-remove:hover {
background-color: #d9534f;
}

.footer {
position: absolute;
bottom: 0;
width:100%;
background-color: #333333;
margin-top: 85px;
display: block;
}

.footer p {
margin: 10px 0;
}

.footer span {
font-size:10pt;
font-weight: 100;
}

.footer a:hover {
text-decoration: none;
}

.footer span:hover {
background-color: #777;
}

.footer .media-link {
margin-top: 6px;
color: white;
margin-left:10px;
}

.hr-header {
margin-top:-10px;
}

.project-header {
margin-bottom: 30px;
font-size:15pt;
}

.project-text-block {
margin-bottom: 55px;
}

.display {
white-space: pre-wrap;
font-size:12pt;
word-wrap:break-word;
}

.jumbo-header {
padding: 30px 0px 30px 0px;
text-align:center;
border-radius: 5px;
}

.jumbotron-custom {
padding: 10px 30px;
border-radius: 5px;
background-color: #eee;
}

.landing-header  nav {
background: transparent;
background-color:transparent;
box-shadow: none;
border:none;
}

.landing-header a {
color:black;
text-shadow: none;
}

.landing-header .navbar-default .navbar-nav>li>a {
text-shadow: none;
color:black;
}

.landing-header input {
background:transparent;
color:black;
text-shadow:none;
border: 1px solid black;
}

.landing-button {
background:transparent;
color:#C2B3B3;
font-family: Arial, Helvetica, sans-serif;
border: 1px solid #C2B3B3;
text-shadow: none;
font-weight: bold;
}

.landing-button:hover {
background-color:#C2B3B3;
}

.landing-header .navbar-brand {
display:none;
}

.no-image {
background-color: #2D343F;
border-top-left-radius: 10px;
border-top-right-radius: 10px;
color:grey;
}

.container { 
max-width: 1100px;
}
