/*
 * TODO:
 * 70px padding helps with offset in main.html, but does not play well with the full-screen map
 * which requires padding/margin at 0.
 *
 */

.navbar {
background-color:#333333;
min-height: 40px !important;

/* fix for flickering navbar when scrolling */
-webkit-backface-visibility: hidden;
}

.navbar-default {
border-color:#333333;
}

.navbar input {
height: 20px;
padding: 12px;
border-radius: 0px;
margin-top: 4px;
}

.navbar .form-control-feedback {
line-height: 34px;
top: 0px;
}

.navbar-default .navbar-nav>li>a {
color:whitesmoke;
}

.navbar-default .navbar-nav>li>a:hover {
color:whitesmoke;
}

.navbar-nav > li > a { 
padding-left: 8px;
padding-right: 8px;
padding-top: 7px !important;
padding-bottom: 7px !important;
margin-top: 5px;
}


.brand-icon {
height: 40px;
width: 40px;
}

.navbar-brand { 
padding-top: 3px;
padding-bottom: 10px;
height: 34px;
}

.navbar-brand a {
text-decoration: none;
}

.navbar-brand img {
-webkit-border-radius: 100%;
-moz-border-radius: 100%;
border-radius: 100%;
-khtml-border-radius: 100%;
vertical-align: middle;
background-color:white;
-webkit-transform: translateZ(0);
   -webkit-mask-image: -webkit-radial-gradient(circle, white 100%, black 100%);
}
.rounded {
display: inline-block;
-webkit-border-radius: 100%;
-moz-border-radius: 100%;
border-radius: 100%;
-ikhtml-border-radius: 100%;
border: 5px solid #333;
}

.navbar-form {
margin-top: 4px;
margin-bottom: 1px;
}
.navbar-form.navbar-right:last-child {
margin-right: 0px;
}
.navbar-btn.btn-xs {
margin-bottom:2px;
}

.navbar ul.nav a:hover {
text-decoration: underline;
}


html {
position: relative;
min-height:100%;
overflow-y: scroll;
}

body {
padding-top: 70px;
margin-bottom: 100px;
}

div.col-centered {
margin: 0 auto;
float: none;
}
