<div data-ng-include=" ' partials/navheader.html ' "></div>

<div class="container" data-ng-show="ready">
    <h3>Admin Page for {{mode}}</h3>
    <hr/>
    <div class="row" data-ng-show="show_projects" data-ng-repeat="p in projects">
        <div class="col-xs-12">
            <div class="panel panel-default">
                <div class="panel-heading">{{p.name}}</div>
                <div class="panel-body">
                    <button class="btn btn-success btn-sm" data-ng-click="serviceProject($index, p.id, 'approved')" data-ng-show="p.state == 'pending approval'">Approve</button>
                    <button class="btn btn-default btn-sm" data-ng-click="serviceProject($index, p.id, 'unapproved')" data-ng-show="p.state == 'launched'">Unapprove</button>
                    <button class="btn btn-info btn-sm" data-ng-click="serviceProject($index, p.id, 'freeworks')" data-ng-show="!p.is_free_license && p.has_applied_free_license">Approve Free License</button>
                    <button class="btn btn-default btn-sm" data-ng-click="serviceProject($index, p.id, 'unfreeworks')" data-ng-show="p.is_free_license && p.has_applied_free_license">unapprove Free License</button>
                    <span>&nbsp;&nbsp;|&nbsp;&nbsp;</span>
                    <button class="btn btn-danger btn-sm" data-ng-click="serviceProject($index, p.id, 'disabled')" data-ng-show="p.state != 'disabled'">Disable</button>
                    <button class="btn btn-default btn-sm" data-ng-click="serviceProject($index, p.id, 'undisabled')" data-ng-show="p.state == 'disabled'">unDisable</button>
                    <br/><br/>
                    <a class="pull-right" href="/#/projects/view/{{p.token}}/{{p.slug}}}">PROJECT URL</a>
                    <table class="table table-striped">
                        <thead>
                            <th>key</th>
                            <th>value</th>
                        </thead>
                        <tbody>
                            <tr data-ng-class="p[key] ? 'background-color:blue' : 'background-color: red'" data-ng-repeat="key in getObjectKeys(p) | orderBy: key">
                                <td>{{key}}</td>
                                <td>{{p[key]}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <br/>
            <hr/>
            <br/>
        </div>
    </div>

    <div class="row" data-ng-show="show_users" data-ng-repeat="u in users">
        <div class="col-xs-12">
            <div class="panel panel-default">
                <div class="panel-heading">{{u.email}}</div>
                <div class="panel-body">
                    <button class="btn btn-success btn-sm" data-ng-click="serviceUser($index, u.id, 'tax_approved')" data-ng-show="!u.tax_exempt">Approve Tax Exemption</button>
                    <button class="btn btn-default btn-sm" data-ng-click="serviceUser($index, u.id, 'tax_unapproved')" data-ng-show="u.tax_exempt">Unapprove Tax Exemption</button>
                    <span>&nbsp;&nbsp;|&nbsp;&nbsp;</span>
                    <button class="btn btn-danger btn-sm" data-ng-click="serviceUser($index, u.id, 'disabled')" data-ng-show="!u.disabled">Disable</button>
                    <button class="btn btn-default btn-sm" data-ng-click="serviceUser($index, u.id, 'undisabled')" data-ng-show="u.disabled">unDisable</button>
                    <br/><br/>
                    <table class="table table-striped">
                        <thead>
                            <th>key</th>
                            <th>value</th>
                        </thead>
                        <tbody>
                            <tr data-ng-class="u[key] ? 'background-color:blue' : 'background-color: red'" data-ng-repeat="key in getObjectKeys(u) | orderBy: key">
                                <td>{{key}}</td>
                                <td>{{u[key]}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <br/>
            <hr/>
            <br/>
        </div>
    </div>
</div>

