<div class="panel panel-info">
    <div class="panel-heading">
        <a href="" style="text-decoration: none" data-ng-click="adminShowPanel = !adminShowPanel">
            <i data-ng-class="adminShowPanel ? 'fa fa-minus-square' : 'fa fa-plus-square'">&nbsp;&nbsp;</i>
            <b>Admin Controls&nbsp;</b><i><small>'Cause you're an admin!</small></i>
        </a>
    </div>
    <div class="panel-body" data-ng-show="adminShowPanel">
        <b>Users</b>
        <br/>
        <span>Users: </span>
        <a href="/#/admin/disabled/users">re-enable</a>
        <span>&nbsp;|&nbsp;</span>
        <a href="/#/admin/undisabled/users">disable</a>
        <br/>
        <span>Tax Exemption: </span>
        <a href="/#/admin/tax_unapproved/users">approve</a>
        <span>&nbsp;|&nbsp;</span>
        <a href="/#/admin/tax_approved/users">remove</a>
        <hr>
        <b>Projects</b>
        <br/>
        <span>Projects: </span>
        <a href="/#/admin/disabled/projects">re-enable</a>
        <span>&nbsp;|&nbsp;</span>
        <a href="/#/admin/undisabled/projects">disable</a>
        <br/>
        <span>Projects: </span>
        <a href="/#/admin/unapproved/projects">approve</a>
        <span>&nbsp;|&nbsp;</span>
        <a href="/#/admin/approved/projects">unapprove</a>
        <br/>
        <span>Free Works: </span>
        <a href="/#/admin/unfreeworks/projects">approve</a>
        <span>&nbsp;|&nbsp;</span>
        <a href="/#/admin/freeworks/projects">unapprove</a>
    </div>
</div>
