<div data-ng-include=" ' partials/navheader.html ' "></div>

<div class="container">

    <div class="row" data-ng-show="errors.length > 0">
        <div class="col-centered  col-sm-8">
            <div class="alert alert-danger" data-ng-show="errors.length > 0" role="alert">
                <b class="glyphicon glyphicon-exclamation-sign" aria-hidden="true">&nbsp;Errors</b>
                <ul data-ng-repeat="err in errors">
                    <li>{{err}}</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="row" data-ng-show="success">
        <div class="col-centered col-sm-8">
            <div class="alert alert-success" data-ng-show="success" role="alert">
                <span class="glyphicon glyphicon-ok"></span>
                <b>&nbsp;&nbsp;Thanks! We'll get back to you as soon as possible.</b>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-centered col-sm-8">
            <form>
                <div class="row">
                    <div class="col-sm-12">
                        <h3>Contact</h3>
                        <hr/>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group">
                        <div class="col-sm-5">
                            <select class="form-control" data-ng-model="contact.topic">
                                <option value="" disabled selected>Select a Topic</option>
                                <option value="My Account">My Account</option>
                                <option value="General Questions">General Questions</option>
                                <option value="Project Support">Project Support</option>
                                <option value="Payment">Payment</option>
                                <option value="DMCA">DMCA</option>
                                <option value="Report Violation">Report Violation</option>
                                <option value="Other">Other</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group">
                        <div class="col-sm-12">
                            <input placeholder="Your Email" class="form-control" data-ng-model="contact.your_email">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group">
                        <div class="col-sm-12">
                            <textarea style="height:150px;" placeholder="Description" class="form-control" data-ng-model="contact.details"></textarea>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group">
                        <div class="col-sm-12">
                            <br/>
                            <no-captcha g-recaptcha-response="gRecaptchaResponse" theme="dark" site-key=""></no-captcha>
                            <br/>
                            <button class="btn btn-primary" data-ng-click="submitContact()"><i data-ng-class="show_spinner ? 'fa fa-spinner fa-spin' : ''"></i>&nbsp;Send</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
