<div class="panel panel-default goal-box" data-ng-repeat="goal in project.goals | orderBy: 'amount'" data-ng-style="donations_total >= goal.amount && goal.amount > 0 ? {'background-color': '#dff0d8'} : {'background-color': ''}">
    <div class="panel-body">
        <small data-ng-show="donations_total >= goal.amount" class="text-success"><b>Funded!</b><br/></small>
        <span style="font-size:12pt"><b>{{countries[project.person.country_origin].symbol}} {{goal.amount}}</b></span>
        <br/>
        <div style="margin:5px 0 20px 0; font-size:10pt">
            <b>{{goal.name}}</b>
        </div>
        <span>{{goal.description}}</span>
    </div>
</div>
