<div data-ng-include=" ' partials/navheader.html ' "></div>

<div class="container">
    <div class="row">
        <div class="col-xs-offset-1 col-xs-10">
            <h3>DMCA</h3>
            <hr/>
            <h4><b>Copyright Policy</b></h4>
            <span>Users shall not infringe on the intellectual property of others. PolyGrant follows the provisions set forth by the Digital Millennium Copyright Act (DMCA) and will actively respond to all legitimate DMCA notifications. If you believe your Content has been infringed upon, please submit a DMCA notification at:
                <br/><br/>
                <span style='font-family:"Courier New", Courier, monospace'>
                    <a href="/#/contact">Our Contact Form</a> (select&nbsp;<i>DMCA</i>&nbsp;Topic)
                </span>
                <br/><br/>
                The following information is needed in the DMCA notification:
                <br/><br/>
                <ul>
                    <li>Identification of the allegedly infringing material.</li>
                    <li>A detailed description of the copyrighted work that was infringed upon.</li>
                    <li>A physical or electronic signature of a person authorized to act on behalf of the owner of an exclusive right that is allegedly infringed.</li>
                    <li>Your contact information, including your address, telephone number, and email address.</li>
                    <li>A statement by you that you have a good faith belief that the disputed use is not authorized by the copyright owner, its agent, or the law;</li>
                    <li>A statement that the information in the notification is accurate, and under penalty of perjury, that you are the copyright owner or authorized to act on behalf of the copyright owner.</li>
                </ul>
                <br/>
                PolyGrant will remove all allegedly infringing material. Users who are found repeatedly engaging in infringing activity will have their accounts disabled and/or removed.
            </span>
            <br/><br/><br/>
            <h4><b>Counter Notification</b></h4>
            <span>PolyGrant will inform users that they have received a DMCA notification, and will provide a copy of the notification. If you believe this notification was wrongly submitted, you may file a counter notification by sending us at:
                <br/><br/>
                <span style='font-family:"Courier New", Courier, monospace'>
                    <a href="/#/contact">Our Contact Form</a> (select&nbsp;<i>DMCA</i>&nbsp;Topic)
                </span>
                <br/><br/>
            Please include the following information in your counter notification:
            <br/><br/>
            <ul>
                <li>Identification of the allegedly infringing material.</li>
                <li>a statement made under penalty of perjury that the subscriber has a good faith belief that the material was removed or disabled as a result of mistake or misidentification of the material; and</li>
                <li>The subscriber's name, address, telephone number, and a statement that the subscriber consents to the jurisdiction of the Federal District Court for the judicial district in which the address is located, or if the subscriber's address is outside of the United States, for any judicial district in which the service provider may be found, and that the user will accept service of process from the person who provided notification under subscriber (c)(1)(C) or an agent of such person.</li>
                <li>Your physical or electronic signature.</li>
            </ul>
            <br/>
            If it is found that DMCA notification was in error, that your materials are fair-use and in compliant with the DMCA, we will reinstate your account and all related materials.
            </span>
            <br/><br/><br/>
            <h4><b>DMCA Reference</b></h4>
            <span>Please refer to <a href="http://www.copyright.gov/legislation/dmca.pdf">DMCA Legislation</a> for clarifications.</span>
        </div>
    </div>
</div>
