<div data-ng-include=" ' partials/search_results.html ' "></div>

<div class="container faq-box">
    <div class="row">
        <div class="col-sm-12">
            <h2>Help Center</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <div class="thumbnail">
                <div class="thumbnail-header">
                    <i class="fa fa-question-circle"></i>
                    <h3>General</h3>
                </div>
                <div class="caption">
                    <div class="col-sm-offset-1">
                        <div class="faq-links">
                            <a href="/#/faq/general">About</a><br/>
                            <span class="faq-link-sub"><em>What is PolyGrant?</em></span><br/>
                            <span class="faq-link-sub"><em>Why use PolyGrant?</em></span><br/>
                            <span class="faq-link-sub"><em>How does PolyGrant work?</em></span><br/>
                            <span class="faq-link-sub"><em>What are the fees?</em></span><br/>
                            <span class="faq-link-sub"><em>What are Free Cultural Works?</em></span><br/>
                            <br/>
                            <a href="/#/faq/basics">Basics</a><br/>
                            <span class="faq-link-sub"><em>Accountability</em></span><br/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="thumbnail">
                <div class="thumbnail-header">
                    <i class="fa fa-paper-plane"></i>
                    <h3>Creators</h3>
                </div>
                <div class="caption">
                    <div class="col-sm-offset-1">
                        <div class="faq-links">
                            <a href="/#/faq/creator">Creator Guide</a><br/>
                            <span class="faq-link-sub"><em>Becoming a Creator</em></span><br/>
                            <span class="faq-link-sub"><em>Tax Exemptions</em></span><br/>
                            <span class="faq-link-sub"><em>Tax Deductibles</em></span><br/>
                            <span class="faq-link-sub"><em>Launching, Updating, Retiring</em></span><br/>
                            <span class="faq-link-sub"><em>Responsibilities</em></span><br/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="thumbnail">
                <div class="thumbnail-header">
                    <i class="fa fa-street-view"></i>
                    <h3>Donators</h3>
                </div>
                <div class="caption">
                    <div class="col-sm-offset-1">
                        <div class="faq-links">
                            <a href="/#/faq/donator">Donator Guide</a><br/>
                            <span class="faq-link-sub"><em>Donating</em></span><br/>
                            <span class="faq-link-sub"><em>Payment Options</em></span><br/>
                            <span class="faq-link-sub"><em>Tracking Donations</em></span><br/>
                            <span class="faq-link-sub"><em>Restrictions</em></span><br/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <br/>
            <span>Still have questions? <a href="/#/contact">Email us!</a></span>
            <br/>
            <br/>
            <br/>
        </div>
    </div>
</div>
