<div data-ng-include=" ' partials/navheader.html ' "></div>

<div class="container">
    <div class="row">
        <div class="col-md-9">
            <h2 class="faq-header">Creator Guide</h2>
            <h3>Becoming a Creator</h3><br/>
            <p class="faq-mini-header">&nbsp;&nbsp;Who can become a Creator?<p>
            <div class="faq-text">
                <p>
                    Anyone! A creator can be an individual or an organization such as a business or a charity. A creator may or may not have tax exempt status.
                    <br/>
                    <br/>
                    <i>Some Requirements:</i>
                    <ul>
                        <li>You must be at least 18 years old.*</li>
                        <li>You are a permanent resident of the country that you are creating the project in.</li>
                    </ul>
                    <br/>
                    * Individuals under 18 years old may have a legal guardian handle the account creation and all aspects of the project campaigns on the child's behalf.
                </p>
            </div>
             
            <p class="faq-divider">-------</p>
            
            <p class="faq-mini-header">&nbsp;&nbsp;Verifying Tax Exemption Status</p>
            <div class="faq-text">
                <p>
                    Creators who have tax exemption status can apply for exemption by going to their Profile and selecting 'YES' when asked if you are tax exempt. Once you have done this, please <a>notify us</a> and provide the following information:
                    <br/><br/>
                    <i>Creators in United States:</i>
                    <ul>
                        <li>EIN</li>
                        <li>Legal Name or your DBA</li>
                        <li>City</li>
                        <li>State</li>
                        <li>Country</li>
                    </ul>
                    <br/>
                    We'll verify your information with your country's government. Please allow up to 7 business days while we verify. Once approved, you'll get this special icon <i class="fa fa-certificate"></i>&nbsp;attached to all your projects! You can remove your tax exemption at any time by going to your Profile and selecting 'NO' when asked if you are tax exempt.
                    <br/><br/>

                    Please note, if you have removed tax exemption (either by intent or by accident), and you wish to regain your tax exemption, you will need to re-apply by repeating the above approval process again.
                </p>
            </div>
               
            <p class="faq-divider">-------</p>
            
            <p class="faq-mini-header">&nbsp;&nbsp;Tax Deductible Donations</p>
            <div class="faq-text">
                <p>
                    If donations to you are tax deductible, it will be your responsiblity to fulfill any tax obligations to your donators. If a donator is located in a different country than you, they may not be able to claim tax deductions. Because of this, please ensure that you clearly specify in your project which countries will accept the tax deductibles.
                    <br/><br/>
                    To enable tax deductible donations, you can go to your profile and select 'YES' when asked if donations are tax deductible.
                </p>
            </div>
                
            <p class="faq-divider">-------</p>

            <p class="faq-mini-header">&nbsp;&nbsp;Sharing your Project ideas, goals, and implementation</p>
            <div class="faq-text">
                <p>
                    Formalizing the whole execution of your project is the first step in bringing it into reality. Prior to creating a project on PolyGrant, you should have a good understanding of your problem domain, its risks and benefits, the audience you're targeting, the goals and plans to achieve success, and so on.<br/><br/>
                    In other words, creating a PolyGrant project means you are in a stage where you have everything figured out, and the only thing left to do is to raise funds. This applies whether you are part of an organization with past experience, or if you are an individual trying to introduce a completely new community vision or solution to the world.<br/><br/>
                    Having past experience that donators can see will also help to bring credibility to your project. When your project is launched and fundraising, building community trust with your donators will go a long way in helping your project achieve success.
                </p>
            </div>

            <p class="faq-divider">-------</p>

            <p class="faq-mini-header">&nbsp;&nbsp;Creating a Project</p>
            <div class="faq-text">
                <p>
                    When you're ready to create a project, simply log in to your account and on the Projects tab click the blue button marked 'Create Project'. You can edit and modify your project at any time. You'll see a form with a bunch of fields to fill out. There are some optional fields, but filling those out will make your project more transparent and more informative to the donators.<br/><br/>
                    Once you feel your project is ready to be publicly launched, just click the launch button in the Projects tab. We'll review your project and let you know if there are any problems.
                    <br/><br/>
                    <div class="alert alert-info" role="alert">
                        <span class="fa fa-lightbulb-o"></span>
                        <i>Tip:</i>&nbsp;Take time to be concise and clear on project goals and its implementation.
                    </div>
                </p>
            </div>


            <p class="faq-divider">-------</p>

            <p class="faq-mini-header">&nbsp;&nbsp;How do I specify that my Project is a Free Cultural Work?</p>
            <div class="faq-text">
                <p>
                    Awesome! All you have to do is specify that option when creating/editing your project. You must also specify a Free License under which it will be released. 
                    <br/><br/>
                    While Free Cultural Works in principle is different from a Free License, in practice a Free Cultural Work must be released using a Free License to be considered as such.
                    <br/><br/>
                    Once you've selected and specified a Free License, we'll review what you submitted. If there are any errors, we'll let you know. Otherwise, we'll give you a special icon <i class="fa fa-child"></i>&nbsp;to signify that the project is a Free Cultural Work. The <b>0% fee</b> will be applied automatically once this happens.
                </p>
            </div>

            <p class="faq-divider">-------</p>

            <p class="faq-mini-header">&nbsp;&nbsp;Specifying Project Goals</p>
            <div class="faq-text">
                <p>
                    Project Goals help Donators understand how your project funding is broken down. It also gives you a way to ask for additional funding, so that you can expand your project beyond its original vision.
                    <br/><br/>
                    How specific you want to be is up to you, but once a goal has been funded, you must fulfill that goal. Also, you cannot edit a goal once it is funded.
                    <br/><br/>
                    You can always add goals later too! Sometimes, you might receive more funding than you expected. New goals will help Donators understand how you plan on augmenting your existing project.

                </p>
            </div>

            <p class="faq-divider">-------</p>

            <p class="faq-mini-header">&nbsp;&nbsp;Project Restrictions</p>
            <div class="faq-text">
                <p>
                    There a quite a few restrictions on what you can do with a project. Some are:
                    <br/><br/>
                    <ul>
                        <li>No Pornographic content</li>
                        <li>No Projects that will cause harm to anyone</li>
                        <li>You cannot offer any financial incentives as rewards to donators.</li>
                        <li>You cannot infringe on anyone's copyright, trademark, or patent. Use your own materials when creating a project, or gain the necessary permissions to use other people's work.</li>
                        <li>Anything that our Payment Processor prohibits. (See Stripe's list of prohibited businesses for more information)</li>
                    </ul>
                    <br/><br/>
                    Please also read our <a href="/#/tos">Terms of Service</a> for a full overview on restrictions.
                </p>
            </div>

            <p class="faq-divider">-------</p>

            <p class="faq-mini-header">&nbsp;&nbsp;Project Images</p>
            <div class="faq-text">
                <p>
                    You can upload up to 20 images for each project you create. All images must be in .JPG, .PNG format and should be at most 5MB in filesize. Images should be in 16:9 aspect ratio for proper display.
                </p>
            </div>


            <p class="faq-divider">-------</p>

            <p class="faq-mini-header">&nbsp;&nbsp;Project Video</p>
            <div class="faq-text">
                <p>
                    A Project video is optional. If you want to upload a video, you can use either Youtube or Vimeo service, and then specify the embed link on your project form! Make sure you provide the <b>embed link</b>, which is different from the actual URL that you used to visit their video page.
                </p>
            </div>


            <p class="faq-divider">-------</p>

            <p class="faq-mini-header">&nbsp;&nbsp;Project Rewards for Donators</p>
            <div class="faq-text">
                <p>
                    A project is not required to list any rewards. However, if you wish to list rewards, please specify them in the project's description. You can list them however you wish, but it will be your responsibility to coordinate and complete the rewards fulfillment.
                </p>
            </div>

            <p class="faq-divider">-------</p>

            <p class="faq-mini-header">&nbsp;&nbsp;Project Launch and Updates</p>
            <div class="faq-text">
                <p>
                    After you submit your project, it will go through an approval process. The approval process serves to verify that all information has been entered correctly. If we find anything amiss, we'll notify you.
                    <br/><br/>
                    Once the project has been approved, your project will be live.
                    You can also keep donators updated by providing news reports about your project.
                </p>
            </div>

            <p class="faq-divider">-------</p>

            <p class="faq-mini-header">&nbsp;&nbsp;Retiring a Project</p>
            <div class="faq-text">
                <p>
                    Because your project can crowdfund every year, it is your responsibility to retire a project when its goals have been met or when you have decided to shut down the project. However, if your project has been inactive for some time, we reserve the right to disable the project.
                    <br/><br/>
                    You can retire a project by editing the project and selecting 'YES' when asked about retiring a project.
                </p>
            </div>

            <p class="faq-divider">-------</p>

            <p class="faq-mini-header">&nbsp;&nbsp;Setting up your Stripe Account</p>
            <div class="faq-text">
                <p>
                    In order to accept donations, you'll need to create a Stripe Account with <a href="https://stripe.com">Stripe</a>. Just go to your profile, and click the "Connect with Stripe" button to get started.
                </p>    
            </div>

            <p class="faq-divider">-------</p>

            <p class="faq-mini-header">&nbsp;&nbsp;Reminders</p>
            <div class="faq-text">
                <p>
                    <ul>
                        <li>Creators are responsible for completing stated goals and timelines.</li>
                        <li>Set reasonable goals for the year.</li>
                        <li>Budget your time and expenses. Be honest when specifying a funding amount.</li>
                        <li>Keep your donators updated by providing frequent news updates.</li>
                        <li>If donations are tax deductible, be sure to specify which countries will accept the tax deductions.</li>
                    </ul>
                    <br/><br/>
                    Be sure to read the other guides as well!
                </p>
            </div>

            <p class="faq-divider">-------</p>

            <p class="faq-mini-header">&nbsp;&nbsp;Questions?</p>
            <div class="faq-text">
                <p>Still have questions? <a href="/#/contact">Contact Us!</a></p>
            </div>
        </div>
    </div>
</div>
