<div data-ng-include=" ' partials/navheader.html ' "></div>

<div class="container">
    <div class="row">
        <div class="col-md-9">
            <h2 class="faq-header">Basics</h2>
            <h3>Accountability</h3><br/>
            <p class="faq-mini-header">&nbsp;&nbsp;Who is responsible for maintaining project goals and completion?<p>
            <p class="faq-text">Ensuring that a project maintains a responsible course of action should be a top priority for the Project Creator, since the Project Creator is responsible for all aspects of their project. If a Project Creator has stated a goal or has promised completing some aspect of the project, the Project Creator must fulfill it. <br/><br/>

            PolyGrant is not involved in their development in any way and we cannot guarantee that projects will meet their goals or completion. We also do not investigate a creator's ability to complete the project or any of its goals.
            <br/><br/>
            Donators should be careful about which projects they fund. Doing prior research and/or find referrals about the project creator will help your decision! However, sometimes things just don't work out despite the best of intentions. In these cases, Project Creators and Donators have options for resolution.&nbsp;<i>(read on!)</i>
            </p>

            <p class="faq-divider">-------</p>

            <p class="faq-mini-header">&nbsp;&nbsp;What happens if a project did not meet their goals or completion?<p>
            <p class="faq-text">
                Project Creators are legally bound to fulfill their stated goals and promises to Donators. If a project has failed to deliver on them, Donators should directly contact the Project Creator and ask for resolution. For Project Creators, you should contact your donators and inform them of your situation as soon as possible. Creators should work with Donators to come up with a mutually agreed upon resolution plan, which may be different for each Donator.
                <br/><br/>
                In addition to private exchanges with Donators, Project Creators also need to publicly take steps in amending the situation. This includes providing a transparency report, which may consist of stating how funds were used, receipts on the expenses, and any other relevant information that allows all Donators to understand what has happened. Project Creators may want to publicly announce and issue refunds to their Donators as well.
                <br/><br/>
                If the Project Creator cannot do any of the previous, or has failed to adequately provide amends, the Donators can pursue legal recourse against the Project Creator.
                <br/><br/>
                See our&nbsp;<a href="/#/tos">Terms of Service</a>&nbsp;for more details.
                <br/><br/>
                Please note, PolyGrant is not involved in legal disputes between Project Creators and Donators, as the legal contract is between Project Creators and Donators.
            </p>
         
            <p class="faq-divider">-------</p>

            <p class="faq-mini-header">&nbsp;&nbsp;Will PolyGrant refund money if a project fails?<p>
            <p class="faq-text">No. The way our payment flow is setup does not allow us to issue any refunds. Refunds can only be issued by the Project Creator. Donators should contact the Project Creator to request refunds.
            </p>
         
            <p class="faq-divider">-------</p>
            
            <p class="faq-mini-header">&nbsp;&nbsp;Reporting a project</p>
            <p class="faq-text">Projects that have violated our&nbsp;<a href="/#/tos">Terms of Service</a>&nbsp;should be reported.
                <br/><br/>
                <a href="/#/contact">Contact Us here</a>
            
            </p>
    </div>
</div>
