<div data-ng-include=" ' partials/navheader.html ' "></div>

<div class="container">
    <div class="row">
        <div class="col-md-9">
            <h2 class="faq-header">Donator Guide</h2>
            <h3>Donating</h3><br/>
            <p class="faq-mini-header">&nbsp;&nbsp;Donating to a project<p>
            <div class="faq-text">
                <p>
                    You can donate to a project by visiting a project's page and entering an amount in the Donation Box.
                    <br/><br/>
                    Once you enter an amount, two scrollbars will appear. You can adjust the scrollbars to determine how much the project creator will recieve, and how much you wish to give to PolyGrant's staff. How you split it is entirely up to you!
                    <br/><br/>
                    To complete your donation, click the 'Donate' button. A popup will ask you for your card details.
                </p>
            </div>
             
            <p class="faq-divider">-------</p>
            
            <p class="faq-mini-header">&nbsp;&nbsp;When is my card charged?</p>
            <div class="faq-text">
                <p>
                    All donations are processed immediately and funds sent to the respective parties. All cards will be charged in the currency of the Project Creator.
                </p>
            </div>
               
            <p class="faq-divider">-------</p>
            
            <p class="faq-mini-header">&nbsp;&nbsp;Can I cancel my donation?</p>
            <div class="faq-text">
                <p>
                    No. Once a donation is made, it is processed immediately. Instead, you should contact the project creator and request a refund. PolyGrant does not have any control in issuing refunds.
                    
                </p>
            </div>
               
            <p class="faq-divider">-------</p>

            <p class="faq-mini-header">&nbsp;&nbsp;Tax Deductible Donations</p>
            <div class="faq-text">
                <p>
                    All donations made to Tax Deductible projects are tax deductible. However, there are some restrictions. If the country where the creator lives is different than yours, your country's government may not recognize these donations are tax deductible. Be sure to research your country's tax codes to see if a donation made to a project creator located elsewhere will uphold any tax deductibles. You can also contact the project creator and ask them.
                    <br/><br/>
                    It is the project creator's obligation to send you any required tax documents for any tax deductibles you earned. If there are problems or questions, please coordinate with the project creator to resolve the issues.
                </p>
            </div>

            <p class="faq-divider">-------</p>

            <p class="faq-mini-header">&nbsp;&nbsp;Payment Options</p>
            <div class="faq-text">
                <p>
                    Donations can be made with a Visa, MasterCard, or American Express debit/credit card.
                </p>
            </div>

            <p class="faq-divider">-------</p>

            <p class="faq-mini-header">&nbsp;&nbsp;Can I donate more than once?</p>
            <div class="faq-text">
                <p>
                    Yes! You can donate as many times as you want.
                </p>
            </div>

            <p class="faq-divider">-------</p>

            <p class="faq-mini-header">&nbsp;&nbsp;Tracking donations</p>
            <div class="faq-text">
                <p>
                    We're still working on the full featureset to allow you to more efficiently track projects. In the meantime though, here's what you can do:

                    <ul>
                        <li>Follow projects you like</li>
                        <li>Track donations to donated projects</li>
                    </ul>
                </p>
            </div>

            <p class="faq-divider">-------</p>

            <p class="faq-mini-header">&nbsp;&nbsp;Project Rewards for Donators</p>
            <div class="faq-text">
                <p>
                    A project is not required to list any rewards. However, if a project has promised rewards for donators, it will be the creator's responsibility to coordinate and complete the rewards fulfillment.
                </p>
            </div>

            <p class="faq-divider">-------</p>

            <p class="faq-mini-header">&nbsp;&nbsp;Security</p>
            <div class="faq-text">
                <p>
                    PolyGrant does not store any card data on our servers. Our payment processor Stripe securely handles all money transactions. Stripe is also fully PCI DSS compliant.
                    <br/><br/>
                    In addition, our website uses secure communications to encrypt all your web traffic.
                </p>
            </div>

            <p class="faq-divider">-------</p>

            <p class="faq-mini-header">&nbsp;&nbsp;Problems a Project</p>
            <div class="faq-text">
                <p>
                    Project Creators are legally obligated to fulfill their Project and its goals. If a project creator has not fulfilled its contact with you, you should contact the project creator for resolution. PolyGrant does not participate in the development of any projects; disputes are between a project creator and their donators.
                    <br/><br/>
                    See our <a href="/#/faq/basics">Basics on Accountability</a> to see what else can be done.
                </p>
            </div>

            <p class="faq-divider">-------</p>

            <p class="faq-mini-header">&nbsp;&nbsp;Restrictions</p>
            <div class="faq-text">
                <p>
                    Depending on what country you live you in, there are limits on how much you can donate at once per project:
                    <br/><br/>
                    <ul>
                        <li>US: $10,000</li>
                        <li>UK: £5,000</li>
                        <li>Canada: $8,000 CAD</li>
                        <li>Australia: $ 8,000 AUD</li>
                        <li>New Zealand: $ 8,000 NZD</li>
                        <li>Netherlands, Germany, and Ireland: € 7,000</li>
                        <li>Sweden: 50000 SEK</li>
                        <li>Denmark: 50000 DKK</li>
                        <li>Norway: 50000 NOK</li>
                    </ul>
                </p>    
            </div>

            <p class="faq-divider">-------</p>

            <p class="faq-mini-header">&nbsp;&nbsp;Questions?</p>
            <div class="faq-text">
                <p>Still have questions? <a href="/#/contact">Contact Us</a>!</p>
            </div>
        </div>
    </div>
</div>
