<div class="footer">
    <div align="center" class="container">
        <p>
            
            <a href="http://blog.polygrant.com"><span class="label">blog</span></a>
            <a href="/#/faq"><span class="label">faq</span></a>
            <a href="/#/dmca"><span class="label">dmca</span></a>
            <a href="/#/tos"><span class="label">terms of service</span></a>
            <a href="/#/privacy"><span class="label">privacy</span></a>
            <a href="/#/contact"><span class="label">contact</span></a>
            <div style="margin-top: 10px">
                <a href="https://www.pinterest.com/polygrant/" class="media-link"><i class="fa-lg fa fa-pinterest-p"></i></a>
                <a href="https://twitter.com/PolyGrant" class="media-link"><i class="fa-lg fa fa-twitter"></i></a>
                <a href="http://blog.polygrant.com" class="media-link"><i class="fa-lg fa fa-tumblr-square"></i></a>
            </div>
        </p>
    </div>
</div>
