<div data-ng-include=" ' partials/navheader.html ' "></div>

<div class="container">
    <div class="row">
        <div class="col-centered col-xs-5">
            <div class="alert alert-success" data-ng-show="success">
                <span class="glyphicon glyphicon-ok"></span>
                <b> Sent! Check your inbox.</b>
            </div>
            <div class="alert alert-danger" data-ng-show="errors.length > 0" role="alert">
                <b class="glyphicon glyphicon-exclamation-sign" aria-hidden="true">&nbsp;Errors</b>
                <ul data-ng-repeat="err in errors">
                    <li>{{err}}</li>
                </ul>
            </div>
            <h3>Can't login?</h3>
            <small>We'll send you a password reset link!</small>
            <hr>
        </div>
    </div>
    <div class="row">
        <div class="col-centered col-xs-5">
            <div class="forgot">
                <form role="form">
                    <div class="form-group">
                        <label>Email</label>
                        <input class="form-control" type="text" data-ng-model="email"/>
                    </div>
                    <no-captcha g-recaptcha-response="gRecaptchaResponse" theme="dark" site-key=""></no-captcha>
                    <br/>
                    <button type="submit" data-ng-disabled="success || show_spinner" data-ng-click="forgot(email)" class="btn btn-default"><i data-ng-class="show_spinner ? 'fa fa-spinner fa-spin' : ''"></i>&nbsp;Reset Password</button>
                </form>
            </div>
        </div>
    </div>
</div>
