<div class="landing-header" data-ng-include=" ' partials/search_results.html ' "></div>
   
<div class="container-fluid landing-row-one">
    <div class="row">
        <div class="col-sm-12">
            <img src="" class="img-responsive landing-bg-img">
            <span class="landing-pretitle"><i><b>Sharing goals and hardships</b></i></span> 
            <span><a class="landing-title-link" href="/#/projects">PolyGrant<sup style="font-size:15pt">&nbsp;&trade;</sup></a></span>
            <div class="row landing-thumbnails">
                <div class="col-sm-4">
                    <div class="thumbnail">
                        <div class="caption">
                            <h3>
                                <i style="font-size: 15pt;" class="fa fa-usd text-success"></i>
                                <i>Simple Fees</i>
                            </h3>
                            <span>Free Culture, Tax-Exempt Organizations have <b>0% fees</b>. Otherwise it's just a 5% fee. You can also choose how to split your donation!</span>

                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="thumbnail">
                        <div class="caption">
                            <h3>
                                <i style="font-size: 15pt;" class="fa fa-leaf text-primary"></i>
                                <i>Discover</i>
                            </h3>
                            <span>Learn about new and existing goals, and what can be done. Track their progress and engage in the effort.</span>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="thumbnail">
                        <div class="caption">
                            <h3>
                                <i style="font-size: 15pt;" class="fa fa-heartbeat text-danger"></i>
                                <i>Fundraise all Year</i>
                            </h3>
                            <span>Initial capital is rarely enough for sustained community effort. Get people interested, and raise funds year after year with no time limit. </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="landing-thumbnails-sm">
            <div class="row">
                <div class="col-sm-12">
                    <div class="thumbnail">
                        <div class="caption">
                            <h3>
                                <i style="font-size: 15pt;" class="fa fa-usd text-success"></i>
                                <i>Simple Fees</i>
                            </h3>
                            <span>Free Culture, Tax-Exempt Organizations have <b>0% fees</b>. Otherwise it's just a 5% fee. You can also choose how to split your donation!</span>

                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="thumbnail">
                        <div class="caption">
                            <h3>
                                <i style="font-size: 15pt;" class="fa fa-leaf text-primary"></i>
                                <i>Discover</i>
                            </h3>
                            <span>Learn about new and existing goals, and what can be done. Track their progress and engage in the effort.</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="thumbnail">
                        <div class="caption">
                            <h3>
                                <i style="font-size: 15pt;" class="fa fa-heartbeat text-danger"></i>
                                <i>Fundraise all Year</i>
                            </h3>
                            <span>Initial capital is rarely enough for sustained community effort. Get people interested, and raise funds year after year with no time limit. </span>
                        </div>
                    </div>
                </div>
            </div>
</div>

<section class="landing-blank" data-type="background" data-speed=".05">
    <div class="landing-layer-bg">
        <div class="bg-blank"></div>
    </div>
    <div class="landing-layer layer-caption">
        <i><b>
        <article>Crowdfunding Projects With Community Benefit</article>
        </b></i>
    </div>
</section>


<section class="landing-bg2" data-type="center" data-type="background" data-speed=".05">
    <div class="layer-seven">
        <h3>What kind of Projects are crowdfunded?</h3>
        <span>Anything that has a net positive effect on our global community!</span>
        <h3 style="margin-top:50px;">Project Types</h3>
    </div>
    <div class="layer-six" data-speed="10">
        <div class="row">
            <div class="col-sm-2">
                <i class="fa fa-flask"></i> <br/><b>Scientific Research</b>
            </div>
            <div class="col-sm-2">
                <i class="fa fa-child"></i> <br/>Free and Open Licensed Works
            </div>
            <div class="col-sm-2">
                <i class="fa fa-globe"></i> <br/>Charity/Non-Profit Work
            </div>
            <div class="col-sm-2">
                <i class="fa fa-fire-extinguisher"></i> <br/>Disaster Relief
            </div>
            <div class="col-sm-2">
                <i class="fa fa-umbrella"></i> <br/>Political Activism 
            </div>
            <div class="col-sm-2">
                <i class="fa fa-newspaper-o"></i> <br/>Many Others!
            </div>
        </div>
    </div>
</section>

<section class="landing-bg4" data-type="background"  data-position="center" data-speed=".05">
    <div class="landing-layer-bg">
        <img src="" class="bg-4-img">
    </div>
    <div class="landing-layer layer-eight">
        <span>Ready?</span>
        <br/>
        <a href="/#/projects" class="btn btn-default landing-button">Get Started</a>
        <a href="/#/faq" class="btn btn-default landing-button">Learn More</a>
    </div>
</section>

<script>




function getImage() {
    var width = window.innerWidth;

    var main = $('.landing-bg-img').attr("src");
    var regex = /\/images\/main_(\d+)\.jpg/g;
    var match = regex.exec(main);
    main = match ? match[1] : 0;
    
    // Do not request new image if current image is bigger.
    // Bigger images scale down nicely, so no need to query.
    if (main && width <= 2048 && main >= 2048) {
        return;
    }
    if (main && width <= 1600 && main >= 1600) {
        return;
    }
    if (main && width <= 1024 && main >= 1024)
        return;
    if (main && width <= 800 && main >= 800) {
        return;
    }
    if (main && width <= 500 && main >= 500) {
        return;
    }


    // Otherwise, screen got larger and so we need to query for bigger image.
    if (width <= 500 && main != 500) {
        $('.bg-4-img').attr('src', '/images/space_500.jpg');
        $('.landing-bg-img').attr('src', '/images/main_500.jpg');
        return;
    }
    if (width <= 800 && main != 800) {
        $('.bg-4-img').attr('src', '/images/space_800.jpg');
        $('.landing-bg-img').attr('src', '/images/main_800.jpg');
        return;
    }
    if (width <= 1024 && main != 1024) {
        $('.bg-4-img').attr('src', '/images/space_1024.jpg');
        $('.landing-bg-img').attr('src', '/images/main_1024.jpg');
        return;
    }
    if (width <= 1600 && main != 1600) {
        $('.bg-4-img').attr('src', '/images/space_1600.jpg');
        $('.landing-bg-img').attr('src', '/images/main_1600.jpg');
        return;
    }
    if (width <= 2048 && main != 2048) {
        $('.bg-4-img').attr('src', '/images/space_2048.jpg');
        $('.landing-bg-img').attr('src', '/images/main_2048.jpg');
        return;
    }
}

$(document).ready(function() {
    getImage();
    $(window).resize(function() {
        getImage();
    });
});

</script>
