<div data-ng-include=" ' partials/navheader.html ' "></div>

<div class="container">
    <div class="row" data-ng-show="errors.length > 0">
        <div class="col-xs-5 col-centered">
            <div class="alert alert-danger" data-ng-show="errors.length > 0" role="alert">
                <b class="glyphicon glyphicon-exclamation-sign" aria-hidden="true">&nbsp;Errors</b>
                <ul data-ng-repeat="err in errors">
                    <li>{{err}}</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-5 col-centered">
            <h3>Login</h3>
            <hr>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-5 col-centered">
            <div class="login">
                <form role="form">
                    <div class="form-group">
                        <label> Email </label>
                        <input class="form-control" type="text" data-ng-model="email"/>
                    </div>
                    <div class="form-group">
                        <label> Password </label>
                        <input class="form-control" type="password" data-ng-model="password"/>
                    </div>
                    <a href="/#/forgot">Forgot Password?</a>
                    <br/>
                    <br/>
                    <button type="submit" data-ng-click="login(email, password)" class="btn btn-default" data-ng-disabled="show_spinner"><i data-ng-class="show_spinner ? 'fa fa-spinner fa-spin' : ''"></i>&nbsp;Login</button>
                </form>
            </div>
        </div>
    </div>
</div>
