    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#collapse-menu">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <span class="navbar-brand">
                    <a href="/#/pmow" title="Hello World!">
                        <div class="rounded">
                            <img class="img-response brand-icon" src="/images/siphonophore_mini.png">
                        </div></a>
                    <a href="/#/projects"><b>PolyGrant</b><sup>&trade;</sup></a>
                    <span class="nav-alpha-label"><i>beta</i></span>
                </span>
            </div>
            <div class="navbar-collapse collapse" id="collapse-menu">
                <ul class="nav navbar-nav navbar-right" data-ng-show="!current_user">
                    <li>
                        <a href="/#/login">sign in</a>
                    </li>
                    <li>
                        <a href="/#/register">register</a>
                    </li>
                </ul>
                
                <ul class="nav navbar-nav navbar-right" data-ng-show="current_user">
                    <li>
                        <a href="/#/profile">profile</a>
                    </li>
                    <li>
                        <a href="/#/logout">logout <i class="fa fa-sign-out"></i></a>
                    </li>
                </ul>

                <form class="navbar-form navbar-right" role="search" data-ng-submit>
                    <div class="form-group has-feedback">
                        <input type="text" class="form-control" placeholder="search" searchbar>
                        <i class="glyphicon glyphicon-search form-control-feedback"></i>
                    </div>
                </form>
            </div>
        </div>
    </nav>
