<div data-ng-include=" ' partials/navheader.html ' "></div>

<div class="container" data-ng-show="success">
    <div class="row">
        <div class="col-sm-12">
            <div class="alert alert-success">
                <span class="glyphicon glyphicon-ok"></span>
                <span> Successfully Donated. Thank you!</span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-8">
            <h4>IMPORTANT— please retain this copy for your records</h4>
            <div class="panel panel-default">
                <div class="panel-heading">receipt</div>
                <div class="panel-body">
                    <a href="" data-ng-click="printReceipt()">Print this receipt</a>
                    <br/>
                    <br/>
                    <div class="row">
                        <div class="col-xs-12">
                            <label>Card: </label><span>&nbsp;#{{donation.card_last4}}</span>
                            <br/>
                            <label>Paid on: </label><span>&nbsp;{{ donation.createdAt | date:'yyyy-MM-dd Z'}}</span>
                            <br/>
                            <label># {{ donation.token }} </label>
                            <br/><br/>
                        </div>
                    </div>
                    <hr/>
                    <div>
                        <div class="row">
                            <div class="col-xs-8">
                                <label class="pull-right">total:</label>
                            </div>
                            <div class="col-xs-4">
                                <span class="pull-right"><b>{{countries[donation.project.person.country_origin].symbol}} {{donation.total | number:2}} {{donation.currency}}</b></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
