<div data-ng-include=" ' partials/navheader.html ' "></div>

<div class="container">
    <div class="row">
        <div class="col-xs-offset-1 col-xs-10">
            <h3>What's with the Image?</h3>
            <hr>
            <i><b>It's a Portuguese man of war!</b></i>
            <br/><br/>
            <span>Or rather, a poor depiction of one. The Portuguese man of war is an interesting creature though. It's a marine cnidarian that superficially resembles a jellyfish, but it's actually a colony of zooids and a gas-filled air sac called a "sail" that form the entire ensemble. 
            <br/><br/>
            There are three types of zooids present: dactylozooid (defense), gonozooid (reproduction), and gastrozooid (feeding). Each has their own specialized function to perform, and one cannot survive independently without the others. Furthermore, if the Portuguese man of war comes under aerial attack, the "sail" is capable of deflating itself, allowing the cnidarian to submerge underwater.
            <br/><br/>
            The name "man-of-war" comes from an 18th century warship. The cinidarian's "sail" resembles the warship at full sail.
            <br/><br/>
            Pretty neat! They also have powerful defensive capabilities; they offload some pretty <a href="https://en.wikipedia.org/wiki/Portuguese_man_o'_war#Venom">nasty stings</a>.
            <br/><br/>
            <a href="https://en.wikipedia.org/wiki/Portuguese_man_o'_war">Read more about them at Wikipedia!</a>
            </span>

            <br/><br/><br/><br/>

            <i><b>Here's the full-sized image!</b></i>
            <br/><br/>
            <img data-ng-src="/images/siphonophore4.png">
        </div>
    </div>
</div>
