<div data-ng-include=" ' partials/navheader.html ' "></div>

<div class="container">
    <div class="row">
        <div class="col-xs-offset-1 col-xs-10">
            <h3>Privacy Policy</h3>
            <hr/>
            <p>This Privacy Policy describes how PolyGrant will collect, use, and share your personal information. Your Privacy is important to us.</p>
        
            <br/>
            <h4><b>Collection of your Personal Information</b></h4>
            <br/>
            <p>
            PolyGrant collects some information about you when you use our Services:
                <ul>
                    <li><b>Signup: </b> You provide your email and password (credentials). We also ask for you for your name, which is your actual name or your business/organization name</li>
                    <li><b>Communications: </b> When you communicate with PolyGrant (ie, email us), we may retain a copy of the communication contents and its metadata.</li>
                    <li><b>User Profile: </b> When you create a profile, we ask for information about your location, tax status and deductibles, and your individual status. If you are an organization, we may ask for information about your organization so that we can verify your status. If you are in the US, this will include your EIN.</li>
                    <li><b>Transactions: </b> Any transactions made through our Service is logged.</li>
                    <li><b>Activity: </b> We may monitor your interactions with our Services, including any posts created by you</li>
                    <li><b>System: </b> System information such as your IP Address, browser, and devices type that you are using to access our Services.</li>
                    <li><b>Stripe Account: </b> To receive donations, you will need to connect your Stripe Account to our platform and its Services.</li>
                </ul>
            </p>

            <br/>
            <h4><b>Use of Your Personal Information</b></h4>
            <br/>
            <p>
            Your Personal Information is used for the operation our of Services. We may use your information to communicate with you (ie, when you email us or when we send you notifications), perform data analysis to improve our Service, verify your identity and/or organization status, verify your credentials at login/sign in, or manage your account.
            </p>

            <br/>
            <h4><b>Sharing of your Personal Information</b></h4>
            <br/>
            <p>
            PolyGrant shares your information only with third-parties that are required for the operation of our Services (like our Payment Providers). We may share your information with law enforcement agencies as required by law, to assist in investigations of fraud and abuse, or to protect PolyGrant's rights. We do not sell your Personal Information to third parties.</p>
            
            <br/>
            <h4><b>Public display of your Personal Information</b></h4>
            <br/>
            <p>
            PolyGrant will not share any of your Personal Information on our website except in the following cases:
                <ul>
                    <li>Your name will be publicly viewable on your Project page.</li>
                    <li>Your public email (not your private email) will be viewable on your Project page.</li>
                    <li>Your individual or organization status will be displayed on your Project page.</li>
                    <li>Your tax status and/or tax deducbitle status will be displayd on your Project page.</li>
                    <li>Your location will be displayed on your Project page.</li>
                    <li>Your bio will be displayed on your public profile page.</li>
                </ul>
            </p>

            <br/>
            <h4><b>Giving Creators your Personal Information</b></h4>
            <br/>
            <p>
            When you make a Donation to a Project or a Creator, the Creator will have access to certain parts of your Personal Information. Only your name, email, and location will be shared with the Creator after a Donation is made. We do not give the Creator your card information.
            </p>


            <br/>
            <h4><b>Storing and Protecting your Personal Information</b></h4>
            <br/>
            <p>
            Security of your Personal Information is important to us. We encrypt your communications to our Services using Security Sockets Layer (SSL). Your credit card data is never stored on our servers or database; they are sent and processed on our payment processor who are fully PCI DSS compliant. However, we cannot guarantee that our security measures will provide absolute security from malicious access or damage by bad actors.
            <br/><br/>
            In the event that our secrity is breached and your Personal Information has been compromised, we will promptly notify you. We may also take pre-emptive actions such as resetting your password before we notify you. PolyGrant shall not be held liable for any unintentional disclosure of your Personal Information, whether caused by accident or by bad actors.
            </p>


        </div>
    </div>
</div>
