<div data-ng-include=" ' partials/navheader.html ' "></div>

<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <small style="background-color:#333;color:whitesmoke;padding:10px"><em><b><i style="font-size:12pt;" class="fa fa-book"></i>&nbsp;&nbsp;The Story of&nbsp;</b></em></small>
            <h1 style="margin-top:25px;">{{ profile.name }}</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-8">
            <div class="panel panel-default">
                <div class="panel-body">
                    <span data-ng-show="profile.bio.length <= 0"><i><b>No Story written.</b></i></span>
                    <span data-ng-show="profile.bio.length > 0" data-ng-bind-html="renderMarkdown(profile.bio)"></span>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <b data-ng-show="profile.email_public.length > 0">Contact:&nbsp;<a href="mailto:{{profile.email_public}}">{{profile.email_public}}</a></b>
            <b data-ng-show="!profile.email_public"><i>No Contact Provided</i></b>
            <br/><br/>
            <div data-ng-show="profile.projects.length > 0" class="panel panel-default" style="min-height: 170px; max-height:170px; background-color: #333; color:whitesmoke">
                <div class="panel-body">
                    <div data-ng-repeat="project in profile.projects">
                        <i>
                            <span>{{project.createdAt | date:'MMM dd yyyy'}}&nbsp;&nbsp;--&nbsp;&nbsp;</span>
                            <span data-ng-show="project.retire_date">{{ project.retire_date | date:'MMM dd yyyy'}}</span>
                            <span data-ng-show="project.retire_date" class="text-warning"><br/><b>Retired</b></span>
                            <span data-ng-show="!project.retire_date" style="color:#00966D"><b>ongoing</b></span>
                        </i>
                        <br/><br/>
                        <b><a href="/#/projects/view/{{project.token}}/{{project.slug}}">{{project.name}}</a></b>
                        <br/>
                        <span>{{project.blurb}}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
