<div data-ng-include=" ' partials/navheader.html ' "></div>

<div class="container" data-ng-show="ready">
    <div class="row" data-ng-show="adminuser">
        <div class="col-sm-offset-2 col-sm-8">
            <div data-ng-include=" ' partials/adminlinks.html ' "></div>
        </div>
    </div>


    <div class="row">
        <div class="col-sm-offset-2 col-sm-8">
            <div class="alert alert-success" data-ng-show="success">
                <span class="glyphicon glyphicon-ok"></span>
                <b>&nbsp;Success!</b>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-offset-2 col-sm-8">
            <div class="alert alert-danger" data-ng-show="profile.state == 'disabled'">
                <span class="fa fa-exclamation-triangle" aria-hidden="true">&nbsp;</span>
                <b>This account has been disabled.</b>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-offset-2 col-sm-8">
            <h3 style="display:inline">Profile&nbsp;</h3>
            <a href="" data-ng-click="open()" data-ng-disabled="show_spinner">edit</a>
            <hr>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-offset-2 col-sm-8">
            <span>Welcome,&nbsp;</span><label><i>{{ profile.name }}</i></label>
            <br/>
            <label>{{ profile.email }} <small style="color:grey">&nbsp;&nbsp;&nbsp;&nbsp;[<i>not public</i>]</small></label>
            <br/>
            <div>
                <label class="text-warning" data-ng-show="profile.email_public.length > 0">{{profile.email_public}} <small style="color:grey">&nbsp;&nbsp;&nbsp;&nbsp;[<i>public</i>]</small></label>
            </div>
            <a href="/#/user/{{profile.token}}/{{profile.slug}}">View your public profile</a>
        </div>
    </div>
    <br/>
    <div class="row">
        <div class="col-sm-offset-2 col-sm-8">
            <label><i class="fa fa-university"></i>&nbsp;{{ profile.organization_type }}</label>
        </div>
    </div>
    <div class="row" data-ng-show="profile.country_origin">
        <div class="col-sm-offset-2 col-sm-8">
            <label><i class="fa fa-map-marker"></i>&nbsp;{{ countries[profile.country_origin].name }}<br/>{{ profile.city_state}}</label>
        </div>
    </div>
    <br/>
    <div class="row" data-ng-show="profile.tax_exempt">
        <div class="col-sm-offset-2 col-sm-8">
            <label style="font-size:18px"><i class="fa fa-certificate"></i></label>
            <span style="color:green"><b><i>Tax Exempt Entity</i></b></span>
            <span class="label label-success" data-ng-show="profile.tax_exempt">Approved</span>
        </div>
    </div>
    <div class="row" data-ng-show="!profile.tax_exempt && profile.has_applied_tax_exempt">
        <div class="col-sm-offset-2 col-sm-8">
            <label style="font-size:18px"><i class="fa fa-certificate"></i></label>
            <span style="color:green"><b><i>Tax Exempt Entity</i></b></span>
            <span class="label label-default">Approval Pending</span>
        </div>
    </div>

    <div class="row" data-ng-show="profile.tax_deductions">
        <div class="col-sm-offset-2 col-sm-8">
            <label style="font-size:18px"><i class="fa fa-usd"></i></label>
            <span>Projects are <span style="color:green"><b><i>tax deductible</i></b></span></span>
            <br/>
            <a href="" data-ng-click="toggleTaxDeductionsPolicy()">Your Tax Deductions Policy</a>
            <div data-ng-show="show_tax_deductions_policy">
                <br/>
                <div data-ng-show="profile.tax_deductions_policy.length > 0">
                    <i class="fa fa-quote-left">&nbsp;</i>
                    <span style="display:inline-block;" data-ng-bind-html="renderMarkdown(profile.tax_deductions_policy)"></span>
                    <i class="fa fa-quote-right">&nbsp;</i>
                </div>
                <span data-ng-show="profile.tax_deductions_policy.length <= 0">You have not specified a policy</span>
            </div>
        </div>
    </div>
    <br/><br/>
    <div class="row">
        <div class="col-sm-offset-2 col-sm-8">
            <div data-ng-show="profile.stripe_connected">
                <label>Stripe Account: </label>
                <label class="label label-success"><i class="fa fa-check"></i>&nbsp;Connected</label>
            </div>
            <div data-ng-show="!profile.stripe_connected">
                <div class="alert alert-warning" role="alert">
                    <span class="fa fa-exclamation-triangle" aria-hidden="true"></span>
                    <span class="sr-only">Warn</span>
                    If you want to be a Creator, please connect your <b>Stripe account</b> to receive payments!
                </div>
            </div>
            <div>
                <span data-ng-show="profile.stripe_connected"><i class="fa fa-info-circle"></i><small><em>&nbsp;Want to change your Stripe account? <a href="" data-ng-click="toggle_stripe_connect()">Simply reconnect.</a></em></small></span>
                <br/>
                <a href="https://connect.stripe.com/oauth/authorize?response_type=code&client_id=ca_5eOxB7micm9vBDL0nGZvUBa4MTbNLbi9&scope=read_write" data-ng-show="show_stripe_connect">
                    <img src="images/stripe_connect.png"/>
                </a>
            </div>
        </div>
    </div>
    <br/>
    <br/>
    <div class="row">
        <div class="col-sm-offset-2 col-sm-8">
            <hr/>
            <tabset>
                <tab>
                    <tab-heading><i class="fa fa-money"></i>&nbsp;Donations</tab-heading>
                    <br/>
                    <label data-ng-show="profile.donations.length == 0">You have not made any donations</label>
                    <div>
                        <table class="table table-striped">
                            <tbody>
                                <tr data-ng-repeat="donation in profile.donations">
                                    <td><a href="/#/projects/view/{{donation.project.token}}/{{donation.project.slug}}">{{ donation.project.name }}</a></td>
                                    <td><b><small>{{countries[donation.project.person.country_origin].symbol}}</small> {{donation.amount.slice(0, -2)}} <small>{{donation.currency}}</small></b></td>
                                    <td>{{donation.createdAt | date:'dd MMM yyyy HH:mm:ss Z' }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </tab>
                <tab>
                    <tab-heading><i class="fa fa-heart"></i>&nbsp;Following</tab-heading>
                    <br/>
                    <label data-ng-show="profile.followings.length == 0">No Projects followed</label>
                    <div>
                        <table class="table table-striped">
                            <tbody>
                                <tr data-ng-repeat="follow in profile.followings">
                                    <td><a href="/#/projects/view/{{follow.token}}/{{follow.slug}}">{{follow.name}}</a></td>
                                    <td>
                                        <a style="line-height:1.42857143" class="pull-right badge badge-remove" data-ng-click="unfollow(follow.token)" data-ng-show="!show_spinner_following"><i class="fa fa-times"></i>&nbsp;remove</a>
                                        <small class="pull-right" data-ng-show="show_spinner_following"><i class="fa fa-spinner fa-spin"></i>&nbsp;removing...</small>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </tab>
                <tab>
                    <tab-heading><i class="fa fa-connectdevelop"></i>&nbsp;Projects</tab-heading>
                    <br/>
                    <label data-ng-show="profile.projects.length == 0">No Projects Created&nbsp;&nbsp;</label>
                    <a href="/#/projects/new" class="btn btn-primary btn-xs">
                        <small class="glyphicon glyphicon-plus"></small>
                        <span>&nbsp;create project</span>
                    </a>
                    <div>
                        <table class="table table-striped" data-ng-show="profile.projects.length > 0">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th></th>
                                    <th></th>
                                    <th>Creation Date</th>
                                    <th></th>
                                    <th></th>
                                    <th class="pull-right">Status</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr data-ng-repeat="project in profile.projects">
                                    <td><a href="/#/projects/view/{{project.token}}/{{project.slug}}">{{project.name}}</a></td>
                                    <td><a title="edit project" href="/#/projects/edit/{{project.token}}"><i class="fa fa-edit"></i></a></td>
                                    <td><a title="Add a button on your website!" href="#" data-ng-click="openProjectShareLink(project.token, project.slug)"><i class="fa fa-link"></i></a></td>
                                    <td><small>{{project.createdAt | date:'dd MMM yyyy'}}</small></td>
                                    <td>
                                        <span data-ng-show="project.is_free_license || profile.tax_exempt">
                                            <i data-ng-show="project.is_free_license" title="Free Cultural Work!" class="text-primary fa fa-child"></i>
                                            <i data-ng-show="profile.tax_exempt" title="You are a Tax Exempt Entity!" class="text-success fa fa-certificate"></i>
                                        </span>
                                    </td>
                                    <td>
                                        <div data-ng-click="launch(project)" data-ng-if="project.state == 'prelaunch'" class="btn btn-xs btn-success">Launch Project</div>
                                    </td>
                                    <td data-ng-if="project.state == 'disabled'"><span class="pull-right label label-danger">disabled</span></td>
                                    <td data-ng-if="project.state == 'retired'"><span class="pull-right label label-warning">retired</span></td>
                                    <td data-ng-if="project.state == 'launched'"><span class="pull-right label label-primary">launched</span></td>
                                    <td data-ng-if="project.state == 'pending approval'"><span class="pull-right label label-default">pending approval</span></td>
                                    <td data-ng-if="project.state == 'prelaunch'"><span class="pull-right label label-default">project created</span></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </tab>
                <tab select="select()">
                    <tab-heading><i class="fa fa-bar-chart"></i> Statistics</tab-heading>
                    <br/>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="panel panel-default">
                                <div class="panel-body">
                                    <h3>Total (all years)</h3>
                                    <div class="row">
                                        <div class="col-sm-5">
                                            <br/>
                                            <table class="table table-striped">
                                                <thead>
                                                    <tr>
                                                        <th></th>
                                                        <th>{{ countries[profile.country_origin].currency + ' ' + countries[profile.country_origin].symbol }}</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <tr data-ng-repeat="stat in projects_stats">
                                                            <td><a href="/#/projects/view/{{stat.token}}/{{stat.slug}}">{{stat.name}}</a></td>
                                                            <td>{{stat.total || 0 | number:2}}</td>
                                                        </tr>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                        <div class="col-sm-7">
                                            <nvd3 class="pull-right" options="chart_total.options" data="chart_total.data" api="chart_total.api"></nvd3>
                                        </div>
                                    </div>
                                </div>
                            </div> 
                        </div>
                    </div>
                </tab>
            </tabset>
        </div>
    </div>
</div>
<script type="text/ng-template" id="projectShareModal.html" class="ng-scope">
    <div class="modal-header"> 
        <h4><i class="fa fa-link"></i>&nbsp;Share Project Button</h4> 
    </div>
    <div class="modal-body"> 
        <div class="row"> 
            <div class="col-sm-12"> 
                <b>Share your project by creating a button on your website! Here's how:
                </b><br/><br/> 
                <textarea class="form-control" style="height:100px;" data-ng-model="project_linkshare"></textarea> 
                <br/> 
            </div>
        </div>
        <div class="row"> 
            <div class="col-sm-12"> 
                <button class="pull-right btn btn-default" data-ng-click="okay()">Done</button>
            </div> 
        </div>
    </div>
</script>

<script type="text/ng-template" id="profileModal.html">
    <div class="modal-header" data-ng-show="ready">
        <h4>Profile Edit</h4>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-sm-offset-2 col-sm-8">

                <div class="alert alert-success" data-ng-show="modal.success">
                    <span class="glyphicon glyphicon-ok"></span>
                    <b>&nbsp;Success!</b>
                </div>
                <div class="alert alert-danger" data-ng-show="modal.errors.length > 0" role="alert">
                    <b class="glyphicon glyphicon-exclamation-sign" aria-hidden="true">&nbsp;Errors</b>
                    <ul data-ng-repeat="err in modal.errors">
                        <li>{{err}}</li>
                    </ul>
                </div>



                <form class="form">
                    <tabset>

                        <tab>
                            <tab-heading>About You</tab-heading>
                            <br/>
                            <div class="form-group">
                                <label>Public Email Contact</label><small style="color:grey">&nbsp;&nbsp;&nbsp;&nbsp;[<i>Everyone will see this</i>]</small>
                                <input class="form-control" data-ng-model="profile_edit.email_public">
                            </div>
                            <div class="form-group">
                                <label>Organization Type*</label>
                                <input type="text" class="form-control" placeholder="LLC, S Corp, 501(c)(3), etc..." data-ng-model="profile_edit.organization_type">
                                <span><small>* If you are not an organization, say <i><b>Individual</b></i></small></span>
                            </div>
                            <div class="form-group">
                                <label>State, City/Province</label>
                                <input type="text" class="form-control" placeholder="City, State/Province" data-ng-model="profile_edit.city_state"></selectize>
                            </div>                    
                            <div class="form-group">
                                <label>What Country are you located in?</label>
                                <selectize placeholder="Select a Country" config="modal.selectize.config" data-ng-model="profile_edit.country_origin"></selectize>
                                <span>Currency:<b> {{ countries[profile_edit.country_origin].currency + ' ' + countries[profile_edit.country_origin].symbol }}</b></span>
                            </div>
                            <div class="form-group">
                                <label>Are you a Tax Exempt Entity?**</label>
                                <br/>
                                <input data-ng-model="profile_edit.tax_exempt" type="radio" data-ng-value="true"> Yes
                                <input data-ng-model="profile_edit.tax_exempt" type="radio" data-ng-value="false"> No
                                <br/>
                                <span><small>** Selecting <i><b>Yes</b></i> will require verification</small></span>
                            </div>
                            <div class="form-group">
                                <label>Can donators claim Tax Deductions on their donations?</label>
                                <br/>
                                <input data-ng-model="profile_edit.tax_deductions" type="radio" data-ng-value="true"> Yes
                                <input data-ng-model="profile_edit.tax_deductions" type="radio" data-ng-value="false"> No
                            </div>
                            <div class="form-group" data-ng-show="profile_edit.tax_deductions">
                                <label>Tax Deduction Policy</label>
                                <br/>
                                <textarea data-ng-model="profile_edit.tax_deductions_policy" placeholder="Any restrictions on who can receive tax deductions. ie, can people outside your country receive the deductions?" style="height:100px;" class="form-control"></textarea>
                                <span style="color:grey"><i>{{1000 - profile_edit.tax_deductions_policy.length}} characters left</i></span>
                                <span class="pull-right" style="color:grey"><i class="fa fa-pencil"></i><em>&nbsp;Markdown Formatting</em></span>
                            </div>
                        </tab>
                       
                        <tab>
                            <tab-heading>Account Info</tab-heading>
                            <br/>
                            <div class="form-group">
                                <label>Email</label><small style="color:grey">&nbsp;&nbsp;&nbsp;&nbsp;[<i>not public</i>]</small>
                                <input class="form-control" data-ng-model="profile_edit.email">
                            </div>
                            <div class="form-group">
                                <label>New Password</label>
                                <input type="password" class="form-control" data-ng-model="profile_edit.password">
                            </div>
                        </tab>

                        <tab>
                            <tab-heading>Story</tab-heading>
                            <br/>
                            <div class="form-group">
                                <label>Biography</label><small style="color:grey">&nbsp;&nbsp;&nbsp;<i>Share your life story!</i></small>
                                <textarea data-ng-model="profile_edit.bio" style="height:100px;" class="form-control"></textarea>
                                <span style="color:grey"><i>{{5000 - profile_edit.bio.length}} characters left</i></span>
                                <span class="pull-right" style="color:grey"><i class="fa fa-pencil"></i><em>&nbsp;Markdown Formatting</em></span>

                            </div>
                        </tab>

                    </tabset>

                    <hr>
                    <div class="form-group">
                        <label class="label-green">Verify Current Password to Complete Update</label>
                        <input type="password" class="form-control" data-ng-model="profile_edit.current_password">
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-default" ng-click="cancel()">Close</button>
        <button class="btn btn-primary" ng-click="save()"><i data-ng-class="modal.show_spinner ? 'fa fa-spinner fa-spin' : ''"></i> Save</button>
    </div>
</script>
