<div data-ng-include=" ' partials/navheader.html ' "></div>

<div class="container" data-ng-show="ready">
    <div class="row">
        <div class="col-sm-6">
            <h3>{{ mode == 'edit' ? 'Edit '+project.name : 'New Project'}}</h3>
        </div>
    </div>
    <hr/>
    <div class="row">
        <div class="col-sm-8">
            <div class="alert alert-danger" data-ng-show="errors.length > 0" role="alert">
                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true">&nbsp;Errors</span><br/>
                <ul data-ng-repeat="err in errors">
                    <li>{{err}}</li>
                </ul>
            </div>
            <div class="alert alert-success" data-ng-show="success" role="alert">
                <span class="glyphicon glyphicon-ok" aria-hidden="true">&nbsp;Success!</span>
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-sm-7">
            <tabset>
                <tab>
                    <tab-heading>Details</tab-heading>
                    <br/>
                    <form class="form-horizontal" enctype="multipart/form-data">
                        <div class="form-group">
                            <label for="inputName" class="label-green col-sm-3 control-label">Name</label>
                            <div class="col-sm-9">
                                <input class="form-control" name="name" placeholder="Name of project (1-100 characters)" data-ng-model="project.name" ng-disabled="donations_total > 0">
                                <span style="color:grey" data-ng-show="donations_total <= 0"><i>{{100 - project.name.length}} characters left</i></span>
                                <small style="color:grey" data-ng-show="donations_total > 0"><i>Name is locked because donations have been made</i></small>
                            </div>
                        </div>
                        <div class="form-group">
                            <label style="padding-top: 0" for="inputFundingAmount" class="label-green col-sm-3 control-label">Funding Amount <br/><small style="color: grey">[ {{ current_user_data['currency'] + ' ' + countries[current_user_data['country_origin']].symbol }} ]</small></label>
                            <div class="col-sm-9">
                                <input class="form-control" name="amount"  placeholder="How much you need this year" data-ng-model="project.desired_funding">
                            </div>

                        </div>
                        <div class="form-group">
                            <label for="inputBlurb" class="label-green col-sm-3 control-label">Short Blurb</label>
                            <div class="col-sm-9">
                                <input class="form-control" name="name" placeholder="Short description (5-100 characters)" data-ng-model="project.blurb">
                                <span style="color:grey"><i>{{100 - project.blurb.length}} characters left</i></span>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="inputDescription" class="label-green col-sm-3 control-label">Description</label>
                            <div class="col-sm-9">
                                <textarea class="form-control" style="height:300px;" name="description" placeholder="Describe the project (60-5000 characters)" data-ng-model="project.description"></textarea>
                                <span style="color:grey"><i>{{5000 - project.description.length}} characters left</i></span>
                                <span class="pull-right" style="color:grey"><i class="fa fa-pencil"></i><em>&nbsp;Markdown Formatting</em></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputProjectCategory" class="label-green col-sm-3 control-label">Category</label>
                            <div class="col-sm-9">
                                <select class="form-control" data-ng-model="project.categoryId" data-ng-options="c.id as c.name for c in categories"></select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label"></label>
                            <div class="col-sm-9">
                                <hr/>
                                <small><i>The following fields are <b>optional</b>, but filling them out makes your project more <b>transparent</b> and <b>will encourage users to donate!</b></i></small>
                                <br/>
                                <br/>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="inputMoneyDescription" class="col-sm-3 control-label">Expense Description</label>
                            <div class="col-sm-9">
                                <textarea class="form-control" style="height:100px;"placeholder="(optional) Describe how the money will be used" data-ng-model="project.money_description"></textarea>
                                <span style="color:grey"><i>{{1200 - project.money_description.length}} characters left</i></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputProjectLicense" class="col-sm-3 control-label">License</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" data-ng-model="project.license" placeholder="(optional) License this work will be released under">
                                <span style="color:grey"><i>{{50 - project.license.length}} characters left</i></span>
                                <div data-ng-show="project.license.length > 0">
                                    <br/>
                                    <label>Is this is a Free License?*</label>
                                    <br/>
                                    <input data-ng-model="project.is_free_license" type="radio" data-ng-value="true"> Yes
                                    <input data-ng-model="project.is_free_license" type="radio" data-ng-value="false"> No
                                    <br/>
                                    <br/>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Project Video</label>
                            <div class="col-sm-9">
                                <input class="form-control"  placeholder="(optional) Youtube or Vimeo embed link" data-ng-model="project.video_url">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputProjectLink" class="col-sm-3 control-label">Project URL</label>
                            <div class="col-sm-9">
                                <input class="form-control" name="project_url" placeholder="(optional) URL to your project website" data-ng-model="project.project_url">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputIcon" class="col-sm-3 control-label">Project Logo URL</label>
                            <div class="col-sm-9">
                                <input class="form-control" name="project_icon" placeholder="(optional) URL to your project logo" data-ng-model="project.icon_url">
                            </div>
                        </div>
                        <div class="form-group" data-ng-show="mode == 'edit'">
                            <label for="input" class="col-sm-3 control-label">Retire?</label>
                            <div class="col-sm-9">
                                <input data-ng-model="project.retired" type="radio" data-ng-value="true"> Yes
                                <input data-ng-model="project.retired" type="radio" data-ng-value="false"> No
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputCompanies" class="col-sm-3 control-label">Companies or Institutions that rely on this Project</label>
                            <div class="col-sm-9">
                                <textarea class="form-control" placeholder="(optional) names separated by commas" data-ng-list data-ng-model="project.companies"></textarea>
                            </div>
                        </div>
                
                        <br/>


                        <div class="form-group">
                            <label class="col-sm-3 control-label">Images</label>
                            <div class="col-sm-12">
                                
                                
                                <div flow-init="{target: '/api/projects/upload', testChunks: false, chunkSize: 5000000, permanentErrors:[404, 500, 501]}"
                                    flow-file-success="uploadSuccess($file, $message)"
                                    flow-error="uploadError($file, $message)"
                                    flow-file-added="isUploadValid($file)"
                                    flow-files-submitted="doUpload()"
                                    flow-name="uploader.flow">

                                    <div style="row">
                                        <div class="col-sm-offset-3">
                                            <span style="margin-left:9px;" class="btn btn-default" flow-btn> Upload File 
                                                <input type="file" multiple="multiple" style="visibility: hidden; position: absolute">
                                            </span>
                                            <i><small>Max 20 Files, 5 MB each</small></i>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-sm-12">
                                            <br/>
                                            <div class="upload-gallerybox" data-ng-repeat="file in uploader.flow.files">
                                                <span class="">{{file.name}}</span>
                                                <div class="thumbnail" style="margin-bottom:0">
                                                    <img flow-img="file">
                                                    <span><i>{{file.size}} bytes</i></span>
                                                    <div class="alert alert-danger" data-ng-show="errors_image[file.name].length > 0">
                                                            {{ errors_image[file.name] }}
                                                    </div>
                                                </div>
                                                <div class="progress" data-ng-class="{active: file.isUploading()}">
                                                    <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" ng-style="{width: (file.progress() * 100) + '%'}" style="width: 100%;">
                                                        {{(file.progress() * 100) + '%'}} progress
                                                    </div>
                                                </div>
                                                <a class="btn btn-xs btn-warning" data-ng-show="file.isUploading()" data-ng-click="file.cancel()">Cancel</a>
                                                <a data-ng-click="$event.preventDefault();" class="pull-right" href="uploads_tmp/{{current_user_data.token}}/{{uploader_imagehash[file.name]}}">Link</a>
                                                <a class="btn btn-xs btn-danger" data-ng-show="file.isComplete()" data-ng-click="deleteUpload(file, file.name)">Delete</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                
                                <!-- bleh.. gallerybox for existing files -->
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div data-ng-if="mode == 'edit' && filename" class="upload-gallerybox" data-ng-repeat="filename in project.images">
                                            <div class="thumbnail" style="margin-bottom:0">
                                                <img data-ng-src="uploads/{{project.token}}/{{filename}}">
                                            </div>
                                            <div class="alert alert-success" role="alert" style="text-align:center"><i><b>Photo</b> #{{$index + 1}}</i></div>
                                            <a data-ng-click="$event.preventDefault();" class="pull-right" href="uploads/{{project.token}}/{{filename}}">Link</a>
                                            <a class="btn btn-xs btn-danger" data-ng-click="deleteUpload(null, filename)">Delete</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <br/>
                        <div class="form-group">
                            <div class="col-sm-offset-3 col-sm-9">
                                <hr/>
                                <label>Notes:</label><br/>
                                <span data-ng-show="current_user_data.tax_exempt == true || project.is_free_license == true">Your project will have <b>NO fees</b>!</span>
                                
                                <!-- have user delete unused tmp images if they exist -->
                                <div class="row" data-ng-if="tmp_imgs.length > 0">
                                    <div class="col-sm-12">
                                        <label>These images were uploaded but never used. Please delete them.</label>
                                        <div data-ng-repeat="tmp in tmp_imgs">
                                            <small>{{tmp}}&nbsp;&nbsp;&nbsp;&nbsp;<a href="#" data-ng-click="deleteUpload(null, tmp)">Delete</a></small>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>

                        <br/>


                        <div class="form-group">
                            <div class="col-sm-9 col-sm-offset-3">
                                <button class="btn btn-success" data-ng-click="submit()">{{ mode == 'edit' ? 'Update': 'Create!'}}</button>
                            </div>
                            <br/><br/>
                        </div>
                    </form>
                </tab>
                <tab>
                    <tab-heading>Goals</tab-heading>
                    <br/>
                    <form class="form-horizontal">
                        <div class="panel panel-default" data-ng-repeat="goal in existing_goals" data-ng-style="donations_total >= goal.amount && goal.amount > 0 ? {'background-color': 'whitesmoke'} : {'background-color': ''}">
                            <div class="panel-body">
                                <fieldset data-ng-disabled="donations_total >= project.goals[$index].amount && donations_total > 0">
                                    <div class="form-group">
                                        <div class="col-sm-3"></div>
                                        <div class="col-sm-9">
                                            <div style="padding:2px;" data-ng-click="deleteExistingGoal(goal.token, $index)" class="pull-right btn btn-default btn-xs"><i class="fa fa-times"></i>&nbsp;delete</div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label"></label>
                                        <div class="col-sm-9">
                                            <span class="label-green" data-ng-show="donations_total >= goal.amount && goal.amount > 0"><i>This goal has met its funding amount!</i></span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="label-green col-sm-3 control-label">Name</label>
                                        <div class="col-sm-9">
                                            <input class="form-control" name="name" placeholder="Name of Goal (1-100 characters)" data-ng-model="goal.name">
                                            <span style="color:grey"><i>{{100 - goal.name.length}} characters left</i></span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="label-green col-sm-3 control-label">Description</label>
                                        <div class="col-sm-9">
                                            <textarea class="form-control" style="height:100px;"placeholder="(optional) Describe how the money will be used" data-ng-model="goal.description"></textarea>
                                            <span style="color:grey"><i>{{1000 - goal.description.length}} characters left</i></span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="label-green col-sm-3 control-label">Amount Required</label>
                                        <div class="col-sm-9">
                                            <input class="form-control" placeholder="({{countries[current_user_data['country_origin']].symbol}}1 min)" data-ng-model="goal.amount">
                                        </div>
                                    </div>
                                </fieldset>
                            </div>
                        </div>

                        <div class="panel panel-default" data-ng-repeat="newgoal in new_goals"  data-ng-style="donations_total >= newgoal.amount && newgoal.amount > 0 ? {'background-color': 'whitesmoke'} : {'background-color': ''}">
                            <div class="panel-body">
                                <div class="form-group">
                                    <div class="col-sm-3"></div>
                                    <div class="col-sm-9">
                                        <div style="padding:2px;" data-ng-click="deleteNewGoal($index)" class="pull-right btn btn-default btn-xs"><i class="fa fa-times"></i>&nbsp;delete</div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label"></label>
                                    <div class="col-sm-9">
                                        <span class="label-green" data-ng-show="donations_total >= goal.amount && goal.amount > 0"><i>This goal has met its funding amount!</i></span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="label-green col-sm-3 control-label">Name</label>
                                    <div class="col-sm-9">
                                        <input class="form-control" name="name" placeholder="Name of Goal (1-100 characters)" data-ng-model="newgoal.name">
                                        <span style="color:grey"><i>{{100 - newgoal.name.length}} characters left</i></span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="label-green col-sm-3 control-label">Description</label>
                                    <div class="col-sm-9">
                                        <textarea class="form-control" style="height:100px;"placeholder="Describe the goal" data-ng-model="newgoal.description"></textarea>
                                        <span style="color:grey"><i>{{1200 - newgoal.description.length}} characters left</i></span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="label-green col-sm-3 control-label">Amount Required</label>
                                    <div class="col-sm-9">
                                        <input class="form-control" placeholder="({{countries[current_user_data['country_origin']].symbol}}1 min)" data-ng-model="newgoal.amount">
                                    </div>
                                </div>
                            </div>  
                        </div>

                        <div class="form-group">
                            <div class="col-sm-9">
                                <button class="btn btn-primary" data-ng-click="addNewGoal()">Add New Goal</button>
                            </div>
                        </div>

                    </form>
                </tab>
            </tabset>
        </div>

        <div class="col-sm-5">
    
            <tabset>
                <tab>
                    <tab-heading>Preview</tab-heading>
                        <br/>
                        <div class="img-responsive-wrapper">
                            <span class="display" data-ng-bind-html="renderMarkdown(project.description)"></span>
                        </div>
                </tab>

                <tab>
                    <tab-heading>Markdown Guide</tab-heading>
                    <br/>
                    <span data-ng-bind-html='renderMarkdown("
You can *style your text* using **Markdown syntax**!
\n
\nThe full Markdown documentation is maintained on [this website.](https://daringfireball.net/projects/markdown/syntax)
\n
\n---
\n
\n#### ***Quick Reference:***
\n
\n---
\n
\n*italic* 
\n
\n```
\n*italic*
\n```
\n---
\n
\n**bold**
\n
\n```
\n**bold**
\n```
\n
\n---
\n
\n~~strikethrough~~
\n
\n```
\n~~strikethrough~~
\n```
\n
\n---
\n
\n[Hyperlink](#)
\n
\n```
\n[Hyperlink](URL)
\n```
\n
\n---
\n
\nImages: 
\n
\n![Hello World](/images/siphonophore_mini.png)
\n
\n```
\n![Hello World](URL)
\n```
\n
\n---
\n
\nHTML Ampersand Character Entities:
\n
\n&copy; &nbsp;&nbsp; &reg; &nbsp;&nbsp; &cent; &nbsp;&nbsp; &yen; &nbsp;&nbsp; &sect; &nbsp;&nbsp; &#8482;
\n
\n```
\n&amp;copy; &amp;reg; &amp;cent; &amp;yen; &amp;sect; &amp;#8482;
\n```
\n
\n---
\n---
\n
\n# Header One
\n
\n## Header Two
\n
\n### Header Three
\n
\n###### Header Six
\n
\n```
\n# Header One
\n
\n## Header Two
\n
\n### Header Three
\n
\n###### Header Six
\n```
\n
\n---
\n
\nLists
\n
\n- Item 1
\n- Item 2
\n- Item 3
\n
\n```
\n- Item 1
\n- Item 2
\n- Item 3
\n```
\n
\n---
\n
\n> Blockquotes
\n
\n```
\n> Blockquotes
\n```
\n
\n---
\n
\n> Blockquotes
\n>> ... with inner quotes
\n
\n```
\n> Blockquotes
\n>> ... with inner quotes
\n```
\n
\n---
\n
                    ")'></span>
                </tab>
            </tabset>
 
        </div>


    </div>

<div>
