<div data-ng-include=" ' partials/navheader.html ' "></div>

<div class="container project-view" data-ng-init="init('view')" data-ng-show="ready">

    <div class="row" data-ng-show="project.state != 'launched'">
        <div class="col-sm-12">
            <div class="alert alert-warning" role="alert">
                <span class="fa fa-exclamation-triangle" aria-hidden="true">&nbsp;
                    <span data-ng-show="project.state == 'prelaunch' || project.state == 'pending approval'">This project has not been approved yet.</span>
                    <span data-ng-show="project.state == 'retired'">This project is retired.</span>
                    <span data-ng-show="project.state == 'disabled'">This project is disabled.</span>
                </span><br/>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <small><b><i>{{project.person.name}}</i></b>&nbsp;presents:</small>
            <a href="/#/projects/edit/{{project.token}}" class="pull-right" data-ng-show="isAuthorized()"><i class="fa fa-cog"></i>&nbsp;Edit project</a>
            <a data-ng-show="current_user && current_user_token != project.person.token" data-ng-class="is_followed ? 'pull-right label label-primary' : 'pull-right label label-info'" data-ng-click="follow()"><i data-ng-class="is_followed ? 'fa fa-check-square-o' : 'fa fa-heart'"></i>&nbsp;{{ is_followed ? ' followed' : ' follow' }}</a>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <h2>{{project.name}}</h2>
            <hr/>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-4 col-sm-push-8">
            <div class="row">
                <div class="col-sm-12">
                    <div class="panel panel-default" style="min-height:180px">
                        <div class="panel-body">
                            <div class="row" style="margin-top:5px">
                                <div class="col-sm-12">
                                    <span class="pull-right">{{date | date:'yyyy'}} Funding</span>
                                    <p class="pull-left" style="color:grey">{{ project.person.currency }}</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <span style="font-size: 30pt" class="text-primary pull-left"><b>{{countries[project.person.country_origin].symbol}} {{donations_total | number : 0}}</b></span>
                                 </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <span style="font-size:12pt" class="pull-left" data-ng-show="project.desired_funding > 0"> raised out of <b>{{countries[project.person.country_origin].symbol}} {{project.desired_funding | number: 0}}</b></span>
                                 </div>
                            </div>


                            <div class="row" data-ng-show="project.person.stripe_connected">
                                <div class="col-sm-12">
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <br/>
                                            <div data-ng-disabled="payment_waiting" class="jumbotron-custom">
                                                <div class="row">
                                                    <div class="col-sm-12">
                                                        <h3 style="display:inline-block; margin: 10px 0 5px 0;">
                                                            <span aria-hidden="true" class="fa fa-credit-card"></span>
                                                            <small id="donation_box">Donation box</small>
                                                        </h3>
                                                        <form class="form-inline">
                                                            <div class="form-group">
                                                                <label class="sr-only">Amount</label>
                                                                <div data-ng-class="isValidDonationAmount() ? 'input-group has-success' : 'input-group'">
                                                                    <div class="input-group-addon">{{countries[project.person.country_origin].symbol}}</div>
                                                                    <input style="font-weight:bold;min-width:60px;" type="text" class="form-control" data-ng-change="changeDonation('project')" data-ng-model="donation.amount">
                                                                    <div class="input-group-addon"><small>{{project.person.currency}}</small></div>
                                                                </div>
                                                            </div>
                                                            <div data-ng-show="isValidDonationAmount()">
                                                                <div class="form-group" style="margin-top: 10px; width: 100%;">
                                                                    <slider ng-change="changeDonation('project')" ng-model="donation_project_percentage"></slider>
                                                                    <br/>
                                                                    <label>{{donation_project_percentage}}% .... {{countries[project.person.country_origin].symbol}} {{donation.project}} ({{project.name}})</label>
                                                                </div>
                                                                <div class="form-group" style="margin-top: 10px; width: 100%;">
                                                                    <slider ng-change="changeDonation('site')" ng-model="donation_site_percentage"></slider>
                                                                    <br/>
                                                                    <label>{{donation_site_percentage}}% .... {{countries[project.person.country_origin].symbol}} {{donation.site}} (PolyGrant)</label>
                                                                    <small class="text-success pull-right" data-ng-show="donation.site > 0 && donation.site < donation.amount">Thank you!</small>
                                                                    <small class="text-primary pull-right" data-ng-show="donation.site > 0 && donation.site >= donation.amount">Wha?</small>
                                                                </div>
                                                            </div>
                                                            <div style="font-size:11pt" data-ng-show="donation.site > 0 && !isNoFee()">
                                                                <br/>
                                                                <span>For this project,</span><br/>
                                                                <span>PolyGrant already takes 5%, so anything extra will be given directly to our staff as&nbsp;<i><b style="font-size:12pt">tip</b></i>!</span>
                                                            </div>
                                                            <div data-ng-show="isValidDonationAmount()">
                                                                <br/>
                                                                <button class="btn btn-success btn-lg" data-ng-click="donate()" data-ng-disabled="!isValidDonationAmount() || payment_waiting" data-ng-show="!payment_waiting" donation-stripe>Donate</button>
                                                                <div class="btn btn-info btn-md" data-ng-show="payment_waiting"><i data-ng-class="show_spinner ? 'fa fa-spinner fa-spin' : ''"></i>&nbsp;Processing... Please wait.</div>
                                                            </div>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                       </div>
                    </div>
                </div>
            </div>
            <div class="row payment-alerts">
                <div class="col-sm-12">
                    <div class="row" data-ng-show="donation_success != null">
                        <div class="col-sm-12">
                            <div class="alert alert-danger" data-ng-show="donation_success == false">
                                <span class="glyphicon glyphicon-exclamation-sign"></span>
                                <span>&nbsp;Card was declined!</span>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="alert alert-success" data-ng-show="donation_success == true">
                                <span class="glyphicon glyphicon-ok"></span>
                                <span>&nbsp;Successfully Donated. Thank you!</span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <button data-ng-disabled="payment_waiting" class="alert profile-story-link text-center" data-ng-click="redirectUserStory(project.person.token, project.person.slug)">
                                <i class="fa fa-book" style="color:whitesmoke">&nbsp;&nbsp;&nbsp;User Story</i>
                            </button>
                        </div>
                    </div>
                    <div class="row" data-ng-show="!project.person.stripe_connected">
                        <div class="col-sm-12">
                            <span class="alert alert-info"><i>{{project.person.name}}</i> is currently <b>not</b> accepting donations.</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row goals-full" data-ng-show="project.goals.length > 0">
                <div style="overflow:hidden;" class="col-sm-12">
                    <h4>Funding Goals</h4>
                    <div data-ng-include=" ' partials/display_goals.html ' "></div>
                </div>
            </div>
        </div>


        <div class="col-sm-8 col-sm-pull-4">
            <div class="row" data-ng-show="project.images.length > 0">
                <div class="col-sm-12">
                    <div enforce-aspect-ratio style="margin-bottom: 10px;">
                        <carousel interval="video_url ? 0 : 5000">
                            <slide data-ng-if="video_url">
                                <div class="embed-responsive embed-responsive-16by9">
                                    <iframe class="embed-responsive-item" src="{{video_url}}"></iframe>
                                </div>  
                            </slide>
                            <slide data-ng-repeat="slide in slides" active="slide.active">
                                <img class="img-responsive" data-ng-src="/uploads/{{project.token}}/{{slide.image}}">
                            </slide>
                        </carousel>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12">
                    <div style="margin-bottom: 10px;" class="panel panel-default">
                        <div class="panel-body">
                            <div class="row">
                                <div style="overflow:hidden;" class="col-xs-4 text-center">
                                    <div>
                                        <span style="font-size:11pt;" data-ng-show="project.person.organization_type">
                                            <span style="font-size:11pt">
                                                <span>{{ project.person.organization_type }}</span>
                                            </span>
                                        </span>
                                    </div>
                                    <div>
                                        <a href="mailto:{{project.person.email_public}}" style="font-size:11pt;" data-ng-show="project.person.email_public">{{project.person.email_public}}</a>
                                    </div>
                                    <div class="project-info-box">
                                        <div>
                                            <small><i class="fa fa-map-marker"></i><em><b>&nbsp;{{ countries[project.person.country_origin].name }}</b></em></small>
                                        </div>
                                        <div>
                                            <small><em><b>&nbsp;&nbsp;{{ project.person.city_state }}</b></em></small>
                                        </div>
                                    </div>
                                </div>

                                <div style="overflow:hidden; border-left: 1px solid #ddd; border-right: 1px solid #ddd;min-height: 50px;" class="col-xs-4 text-center">
                                    <div>
                                        <span data-ng-show="project.project_url">
                                            <a href="{{project.project_url}}">Project Website&nbsp;<small><i class="fa fa-external-link"></i></small></a>
                                        </span>
                                    </div>
                                    <div data-ng-class="project.project_url ? 'project-info-box' : ''">
                                        <small class="text-grey"><i>Launched {{project.createdAt | date:'MMM dd yyyy'}}</i></small>
                                    </div>
                                </div>

                                <div style="overflow:hidden;" class="col-xs-4 text-center">
                                    <div>
                                        <span data-ng-show="project.person.tax_deductions"> 
                                            <small>You may be eligible for</small><br/>
                                            <b style="color:green"><i>Tax Deductions!</i></b>
                                            <br/>
                                        </span>
                                    </div>
                                    <div class="project-info-box">
                                        <span data-ng-show="project.license">
                                            <small>Licensed under</small> 
                                            <small><b>{{project.license}}</b></small>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div style="display:inline-block" class="col-xs-4 text-center">
                    <div style="display: inline;color:grey;"><b><i class="fa fa-tag"></i>&nbsp;<a style="color:grey" data-ng-click="categoryClick(project.category.name)" href="#">{{project.category.name}}</a></b></div>
                </div>
                <div class="col-lg-8">
                    <div style="margin-bottom:20px;" class="pull-right" data-ng-show="project.is_free_license == true || project.person.tax_exempt == true">
                        <h4 style="display:inline"><span style="display:inline-block" class="label label-primary" data-ng-show="project.is_free_license == true">
                            <b><em><i class="fa fa-child"></i>&nbsp;Free Cultural Work</a></em></b>
                        </span></h4>
                        <span data-ng-show="project.is_free_license == true && project.person.tax_exempt == true">&nbsp;&nbsp;&nbsp;</span>
                        <h4 style="display:inline"><span style="display:inline-block;" class="label label-primary" data-ng-show="project.person.tax_exempt == true">
                            <b><i class="fa fa-certificate"></i>&nbsp;Tax Exempt Entity</b>
                        </span></h4>
                        <br/>
                    </div>
                </div>
            </div>

            <br/><br/>
            <div class="row">
                <div class="col-sm-12">
                    <tabset style="overflow:hidden;" hide-goals>
                        <tab active="active_tabs[0]">
                            <tab-heading>Campaign</tab-heading>
                            <br/>
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="project-text-block">
                                        <h4 class="project-header">About</h4>
                                        <div class="img-responsive-wrapper">
                                            <span class="display" data-ng-bind-html="renderMarkdown(project.description)"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
    
                            <div class="row" data-ng-show="project.money_description">
                                <div class="col-sm-12">
                                    <div class="project-text-block">
                                        <h4 class="project-header">Funds Dispersal</h4>
                                        <span class="display">{{project.money_description}}</span>
                                    </div>
                                </div>
                            </div>

                            <div class="row" data-ng-show="project.companies.length > 0">
                                <div class="col-sm-12">
                                    <div class="project-text-block">
                                        <h4 class="project-header">Companies/Institutions that rely on this project:</h4>
                                        <div style="font-size:17pt;display:inline" data-ng-repeat="c in project.companies">
                                            <span style="line-height:2;" class="label label-info">{{c}}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </tab>

                        <tab active="active_tabs[1]">
                            <tab-heading>News</tab-heading>
                            <div class="row">
                                <div class="col-sm-12">
                                    <h4 class="project-header">Latest Updates</h4>
                                    <hr class="hr-header"/>
                                </div>
                                <div class="col-sm-12">
                                    <div data-ng-show="isAuthorized()">
                                        <div class="newsupdate-form">
                                            <div class="form-group">
                                                <div class="alert alert-danger" data-ng-show="errors.length > 0" role="alert">
                                                    <b class="glyphicon glyphicon-exclamation-sign" aria-hidden="true">&nbsp;Errors</b>
                                                    <ul data-ng-repeat="err in errors">
                                                        <li>{{err}}</li>
                                                    </ul>
                                                </div>
                                                <label>New Update</label>
                                                <textarea style="height:150px;" class="form-control" data-ng-model="newsupdate_new.description"></textarea>
                                                <span class="pull-right" style="color:whitesmoke"><b><i class="fa fa-pencil"></i><em>&nbsp;Markdown Formatting</em></b></span>
                                                <span class="pull-left" style="color:whitesmoke"><i>{{1000 - newsupdate_new.description.length}} characters left</i></span>
                                            </div>
                                            <br/>
                                            <button class="btn btn-default" data-ng-click="updateNews()">Update</button>
                                        </div>
                                        <br/>
                                    </div>
                                    <span data-ng-show="project.newsupdates.length == 0"><b>No updates yet.</b></span>
                                    <div data-ng-repeat="update in project.newsupdates">
                                        <div style="padding: 10px" class="panel panel-default">
                                            <b><i>{{update.createdAt | date:'dd MMM yyyy'}}</i></b>
                                            <a data-ng-show="isAuthorized()" data-ng-click="toggleUpdateNewsEdit($index)" href="" class="pull-right">Edit</a>
                                            <br/>
                                            <br/>

                                            <span data-ng-show="!newsupdate_edit[$index]"  data-ng-bind-html="renderMarkdown(update.description)"></span>
                                            <div class="form-group" data-ng-show="newsupdate_edit[$index]">

                                                <div class="alert alert-danger" data-ng-show="errors_newsupdate[update.id].length > 0" role="alert">
                                                    <b class="glyphicon glyphicon-exclamation-sign" aria-hidden="true">&nbsp;Errors</b>
                                                    <ul data-ng-repeat="err in errors_newsupdate[update.id]">
                                                        <li>{{err}}</li>
                                                    </ul>
                                                </div>

                                                <textarea style="height: 150px;" class="form-control" data-ng-model="update.description"></textarea>
                                                <span class="pull-right" style="color:grey"><i class="fa fa-pencil"></i><em>&nbsp;Markdown Formatting</em></span>
                                                <span class="pull-left" style="color:grey"><i>{{1000 - update.description.length}} characters left</i></span>
                                                <br/><br/>
                                                <button class="btn btn-default btn-sm" data-ng-click="toggleUpdateNewsEdit($index)"> Cancel</button>
                                                <button class="btn btn-default btn-sm" data-ng-click="editUpdateNews($index, update.id, update.description)">Save</button>
                                                <div class="pull-right btn btn-default btn-sm" data-ng-click="deleteUpdateNews($index, update.id)"><i class="fa fa-times"></i>&nbsp;Delete</div>
                                            <span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </tab>
                        <tab class="goals-tab" active="active_tabs[2]">
                            <tab-heading>Funding Goals</tab-heading>
                            <br/>
                            <br/>
                            <div class="row">
                                <div class="col-sm-12">
                                    <div data-ng-include=" ' partials/display_goals.html ' "></div>
                                </div>
                            </div>
                        </tab>
                        <tab data-ng-show="project.person.tax_deductions" active="active_tabs[3]">
                            <tab-heading>Tax Deduction Policy</tab-heading>
                            <br/>
                            <br/>
                            <div class="row" data-ng-show="project.person.tax_deductions">
                                <div class="col-sm-12">
                                    <div class="project-text-block">
                                        <h4 class="project-header">Tax Deductions Policy</h4>
                                        <span data-ng-bind-html="renderMarkdown(project.person.tax_deductions_policy)"></span>
                                        <span data-ng-show="project.person.tax_deductions_policy.length == 0"><b>No policy specified</b></span>
                                    </div>
                                </div>
                            </div>
                        </tab>
                        <tab active="active_tabs[4]">
                            <tab-heading>Comments&nbsp;<span data-ng-show="project.comments.length > 0">({{project.comments.length}})</span></tab-heading>
                            <div class="row">
                                <div class="col-sm-12">
                                    <h4 class="project-header">Comments</h4>
                                    <hr class="hr-header"/>
                                </div>
                            </div>
                            <div class="row" data-ng-show="current_user">
                                <div class="col-sm-12">
                                    <div class="comment-form">
                                        <div class="form-group">
                                            <div class="alert alert-danger" data-ng-show="errors_comment['newcomment'].length > 0" role="alert">
                                                <b class="glyphicon glyphicon-exclamation-sign" aria-hidden="true">&nbsp;Errors</b>
                                                <ul data-ng-repeat="err in errors_comment['newcomment']">
                                                    <li>{{err}}</li>
                                                </ul>
                                            </div>
                                            <label>New Comment</label>
                                            <textarea style="height:150px;" class="form-control" data-ng-model="comment_new.description"></textarea>
                                            <span class="pull-left" style="color:whitesmoke"><i>{{1200 - comment_new.description.length}} characters left</i></span>
                                        </div>
                                        <br/>
                                        <button class="btn btn-default" data-ng-click="createComment()">Comment</button>
                                    </div>
                                        <br/><br/>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <span data-ng-show="project.comments.length == 0"><b>No Comments yet.</b></span>
                                    <div class="comment-box" data-ng-repeat="comment in project.comments">
                                        <div style="padding: 10px" data-ng-class="comment.person.token == project.person.token ? 'panel panel-default comment-project-owner' : (isAuthorizedComment(comment.person.token) ? 'panel panel-default comment-owner' : 'panel panel-default')">
                                            <b><i>{{comment.createdAt | date:'dd MMM yyyy'}}</i></b>&nbsp;&nbsp;&nbsp;
                                            <h4 style="display:inline-block;margin: 0">
                                                <span class="label label-default">{{ comment.person.name }}</span>
                                            </h4>
                                            <span data-ng-show="comment.person.token == project.person.token" style="color:grey;font-size:10pt"><i><b>&nbsp;&nbsp;Project Owner</b></i></span>
                                            <a data-ng-show="isAuthorizedComment(comment.person.token)" data-ng-click="toggleCommentEdit(comment.id)" href="" class="pull-right">Edit</a>
                                            <br/>
                                            <br/>

                                            <span data-ng-show="!comment_edit[comment.id]">{{comment.description}}</span>
                                            <div class="form-group" data-ng-show="comment_edit[comment.id]">

                                                <div class="alert alert-danger" data-ng-show="errors_comment[comment.id].length > 0" role="alert">
                                                    <b class="glyphicon glyphicon-exclamation-sign" aria-hidden="true">&nbsp;Errors</b>
                                                    <ul data-ng-repeat="err in errors_comment[comment.id]">
                                                        <li>{{err}}</li>
                                                    </ul>
                                                </div>

                                                <textarea style="height: 150px;" class="form-control" data-ng-model="comment.description"></textarea>
                                                <span class="pull-left" style="color:grey"><i>{{1200 - comment.description.length}} characters left</i></span>
                                                <br/><br/>
                                                <button class="btn btn-default btn-sm" data-ng-click="toggleCommentEdit(comment.id)"> Cancel</button>
                                                <button class="btn btn-default btn-sm" data-ng-click="editComment(comment.id, comment.description)">Save</button>
                                                <div class="pull-right btn btn-default btn-sm" data-ng-click="deleteComment(comment, comment.id)"><i class="fa fa-times"></i>&nbsp;Delete</div>
                                            <span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </tab>
                    </tabset>
                </div>
            </div>
        </div>
    </div>
</div>
