<div data-ng-include=" ' partials/navheader.html ' "></div>

<div class="container">
    <div class="row" data-ng-show="errors.length > 0">
        <div class="col-centered col-xs-5">
            <div class="alert alert-danger" data-ng-show="errors.length > 0" role="alert">
                <b class="glyphicon glyphicon-exclamation-sign" aria-hidden="true">&nbsp;Errors</b>
                <ul data-ng-repeat="err in errors">
                    <li>{{err}}</li>
                </ul>
            </div>        
        </div>
    </div>
    <div class="row">
        <div class="col-centered col-xs-5">
            <h3>Register</h3>
            <hr>
        </div>
    </div>
    <div class="row">
        <div class="col-centered col-xs-5">
            <div class="register">
                <form role="form">
                    <div class="form-group">
                        <label>Public Name</label>
                        <input class="form-control" placeholder="The name you want everyone to see" type="text" data-ng-model="name"/>
                    </div>
                    <div class="form-group">
                        <label> Email </label>
                        <input class="form-control" type="text" data-ng-model="email"/>
                    </div>
                    <div class="form-group">
                        <label> Password </label>
                        <input class="form-control" type="password" data-ng-model="password"/>
                    </div>

                    <div class="form-group">
                        <no-captcha g-recaptcha-response="gRecaptchaResponse" theme="dark" site-key=""></no-captcha>
                    </div>
                
                    <span>By registering, you are agreeing to our <a href="/#/tos">Terms of Service</a>.</span><br/><br/>

                    <button type="submit" data-ng-click="register(name, email, password, key)" class="btn btn-default" data-ng-disabled="show_spinner"><i data-ng-class="show_spinner ? 'fa fa-spinner fa-spin' : ''"></i>&nbsp;Register</button>
                </form>
            </div>
        </div>
    </div>
</div>
