<div data-ng-include=" ' partials/navheader.html ' "></div>

<div class="container">

    <div class="row">
        <div class="col-centered col-xs-5">
            <div class="alert alert-success" data-ng-show="success">
                <span class="glyphicon glyphicon-ok">&nbsp;</span>
                <b>Success!&nbsp;&nbsp;<a href="/#/login">Try logging in!</a></b>
            </div>
            <div class="alert alert-danger" data-ng-show="errors.length > 0" role="alert">
                <b class="glyphicon glyphicon-exclamation-sign" aria-hidden="true">&nbsp;Errors</b>
                <ul data-ng-repeat="err in errors">
                    <li>{{err}}</li>
                </ul>
            </div>            
            <h3>Reset Your Password</h3>
            <hr>
        </div>
    </div>
    <div class="row">
        <div class="col-centered col-xs-5">
            <div class="reset">
                <form role="form">
                    <div class="form-group">
                        <label> New Password </label>
                        <input class="form-control" type="password" data-ng-model="password" data-ng-disabled="success"/>
                    </div>
                    <button type="submit" data-ng-disabled="success || show_spinner" data-ng-click="reset(password)" class="btn btn-default"><i data-ng-class="show_spinner ? 'fa fa-spinner fa-spin' : ''"></i>&nbsp;Reset</button>
                </form>
            </div>
        </div>
    </div>
</div>
