    <div data-ng-include=" ' partials/navheader.html ' "></div>

    <div class="container" data-ng-show="ready">
        <div class="main">
            <div class="pull-right">
                <div>
                    <div class="pull-left">
                        <div class="form-group">
                            <div class="col-xs-12">
                                <div class="checkbox checkbox-filter" data-ng-click="$parent.filterFreeWorksChange()">
                                    <label>
                                        <input type="checkbox" data-ng-checked="$parent.filterFreeWorks"> Free Cultural Works
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="pull-left">
                        <div class="form-group">
                            <div class="col-xs-12">
                                <div class="checkbox checkbox-filter" data-ng-click="$parent.filterTaxExemptChange()">
                                    <label>
                                        <input type="checkbox" style="margin-bottom: 20px;" data-ng-checked="$parent.filterTaxExempt"> Tax Exempt Entities
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-inline col-xs-12">
                    <div class="pull-right">
                        <select data-ng-change="$parent.filterChange()" class="form-control" data-ng-model="$parent.filter">
                            <option value="newest">newest</option>
                            <option value="randomize">randomize</option>
                        </select>
                    </div>
                    <div class="pull-right">
                        <select ng-init="''" ng-options="c.name as c.name for c in $parent.categories track by c.name" data-ng-change="$parent.filterCategoryChange()" class="form-control" data-ng-model="$parent.filterCategory">
                            <option value="" >category filter...</option>
                        </select>
                    </div>
                </div>
            </div>
            
            <br/>
            
            <div class="row">
                <div class="col-xs-12">
                    <div class="pull-left">
                        <a href="/#/projects/new" class="btn btn-primary btn-xs" data-ng-show="$parent.current_user"><small class="glyphicon glyphicon-plus"></small>&nbsp;create project</a>
                    </div>
                 </div>
            </div>

            <br/>
            <br/>
            
            <div class="row" data-ng-show="projects.length < 1">
                <div class="col-sm-12 text-center">
                    <div style="margin-top: 50px;padding:100px;"class="panel panel-default">
                        <div class="panel-body">
                            <b>No projects here yet!</b>
                        </div>
                    </div>
                </div>
            </div>


            <div class="row">
                <div class="col-sm-3" data-ng-repeat="p in projects">
                    <div class="thumbnail thumbnail-main">
                        <div data-ng-show="p.images.length > 0" data-ng-click="viewProject(p.token, p.slug)" class="hover-link ratio-4-3 thumbnail-img" data-ng-style="p.token && {'background-image':'url(/uploads/{{p.token}}/{{p.images[0]}})'}"></div>

                            <div data-ng-show="p.images.length == 0" data-ng-click="viewProject(p.token, p.slug)" class="hover-link no-image ratio-4-3 thumbnail-img">
                                <i class="fa fa-picture-o fa-2x" style="position:absolute;top:50%;left:50%;margin-left:-13px;margin-top:-12px;"></i>
                            </div>
                        <div class="caption">
                            <span class="hover-link" data-ng-click="viewProject(p.token, p.slug)"><b>{{p.name}}</b></span>
                            <br/>
                            <i class="grey-text">{{p.person.name || p.person_name}}</i>
                            <br/>
                            <div class="thumbnail-special" data-ng-show="p.person.tax_exempt || p.is_free_license">
                                <small data-ng-show="p.is_free_license"><b><i class="fa fa-child"></i>&nbsp;Free Cultural Work</b></small>
                                <br/><small data-ng-show="p.person.tax_exempt"><b><i class="fa fa-certificate"></i>&nbsp;Tax Exempt Entity</b></small>
                            </div>
                            <p class="grey-text">{{p.blurb}}</p>

                            <div class="grey-text thumbnail-footer">
                                <br/>
                                <span><b class="text-primary" style="font-size:16pt;">{{ p.desired_funding ? countries[p.person.country_origin].symbol + " " + (p.desired_funding | number : 0) : "N/A" }}</b><i>&nbsp;target</i></span>
                                <br/>
                                <div style="font-size:14pt">
                                    <small><i style="margin-top:12px;" class="fa fa-map-marker"></i>&nbsp;<em>{{countries[p.person.country_origin].name || p.person_country_origin || 'N/A'}}</em></span>
                                </div>
                                <div class="footer-city-state" >
                                    <span>{{ p.person.city_state }}</span>
                                </div>
                                <small class="text-grey"><i>Launched {{p.createdAt | date:'MMM dd yyyy'}}</i></small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 text-center">
                    <pagination total-items="$parent.pageMaxItems" ng-model="$parent.pageCurrent" ng-change="$parent.pageChanged()" max-size="5" class="pagination-sm" boundary-links="true" rotate="false" items-per-page="$parent.pageDisplayItems" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></pagination>
                </div>
            </div>
        </div>
    </div>

