<div data-ng-include=" ' partials/navheader.html ' "></div>

<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <div>
                <h3 class="jumbo-header" data-ng-show="!connected && waiting">
                    <br/>
                    <i class="fa fa-spinner fa-spin"></i>&nbsp;Waiting for Response...
                </h3>
                <h3 class="bg-danger jumbo-header" data-ng-show="(!connected && !waiting) || errors.length > 0">
                    <span class="fa fa-frown-o" aria-hidden="true"></span>
                    <br/>
                    Failed to Connect Stripe Account!
                </h3>
                <h3 class="bg-success jumbo-header" data-ng-show="connected && !waiting">
                    <span class="fa fa-smile-o" aria-hidden="true"></span>
                    <br/>
                    <span class="glyphicon glyphicon-ok">&nbsp;</span>
                    Successfully Connected Stripe Account!
                </h3>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 text-center">
            <button class="btn btn-lg" data-ng-disabled="!connected && waiting" data-ng-click="redirectProfile()">Back to Profile</button>
        </div>
    </div>
</div>
