<div data-ng-include=" ' partials/navheader.html ' "></div>

<div class="container">
    <div class="row">
        <div class="col-xs-offset-1 col-xs-10 tos">
            <h3>Terms of Service</h3>
            <hr/>

            <p>By accessing our website, its content, and its commerce services (collectively referred to as "<b>Services</b>"), you are consenting to our "<b>Terms</b>" and our <a href="/#/privacy">Privacy Policy</a>. Your access may include materials users have submitted and downloaded such as images, links, descriptions (known as "<b>Content</b>"). If you do not give consent, do not use our Services. We may change these terms at any time, and without notice to you. By continuing to use our Service, you will have agreed and given consent to the new Terms.
            <br/><br/>
            These Terms are between you and PolyGrant&trade;, and will supersede any and all prior agreements and communications (written, oral, or electronic) between us in regards to our Services. If any of these Terms are held to be invalid or unenforceable in court, the remaining provisions will still remain in effect and enforceable in full force. These Terms are not transferrable, assignable, or sublicenseable without PolyGrant's prior written consent. These Terms are bound to you.
            </p>
            
            <br/>
            <h4>1. Basic Terms</h4>
            <p>Users who create projects or raise funds are referred to as "<b>Creators</b>" or "<b>Project Creators</b>". Users who donate money to projects are referred to as "<b>Donators</b>", and the projects themselves are referred to as "<b>Projects</b>". The term "<b>Users</b>" is used to collectively refer to all users using our Services. Polygrant and its affiliates, staff, employees, members will be referred to as "<b>PolyGrant</b>", "<b>We</b>", or "<b>Us</b>". Contributions made by a Donator to a Creator or their Project are referred to as "<b>Donations</b>".
            </p>

            <br/>
            <h4>2. Signup and Access of our Services</h4>
            <p>
            Users must be at least 18 years of age to signup and use our Services. Users under the age of 18 years will require a consenting legal guardian to signup and supervise the access to our Services. The legal guardian must consent to our terms and privacy policy. Users are responsible for their own actions when accessing our Services. Disabled Users are not allowed to our Services, and we reserve the right to refuse, deny, suspend, interrupt anyone access to our Services for any reason and at any time without liability.
            </p>

            <br/>
            <h4>3. Things Not to Do</h4>
            <p>
            Users should be aware of a few rules:
                <ul>
                    <li><b>Do not engage in illegal activities: </b> This includes infringing on intellecual property, causing harm to others, scamming others, violating another person's rights, breaching legal duty or contracts you are currently participating in, or violate any laws.</li><br/>
                    <li><b>Do not abuse anyone or harm user's systems: </b> Do not threaten, abuse, harass, defame, or invade anyone or their privacy. Respect everyone's computer by not distributing viruses, trojans, malware or otherwise causing damage to a user's system.</li><br/>
                    <li><b>Do not spam: </b> Do not upload obscene and useless materials to the Services. This includes promotional ads, junk mail, advertising material, and other spam. Do not redirect anyone to sites that are spam sites through our Services.</li><br/>
                    <li><b>Do not abuse private information: </b> Personal information given to you through our Services may not be abused, sold, or publicly released. Personal information may include addresses, emails, and names. Personal information of the Donator may be released to the Creator after a Donator has made a donation.</li><br/>
                    <li><b>Do not offer prohibited items: </b> Do not offer anything that is illegal or that violates our terms.</li><br/>
                    <li><b>Do not offer financial incentives: </b> Offering any form of financial incentives is prohibited. Offering any profit sharing schemes are also prohibited.</li>
                    <hr/>
                    <li><b>Do not interfere or disrupt the proper workings of our Services</b> </li><br/>
                    <li><b>Do not bypass measures set in place to secure our Services</b></li><br/>
                    <li><b>Do not impose unreasonable load onto PolyGrant's infrastructure or on our third-party providers (determined by PolyGrant)</b> </li><br/>
                    <li><b>Do not attempt or take any action to damage or gain unauthorized access to any system, device, data, password, or other information. </b> </li><br/>
                    <li><b>Do not crawl or spider any part of our Services. Use of any automated software created specifically to automate browsing of our Services is prohibited.</b> </li>
                </ul>
            </p>

            <br/>
            <h4>4. More on Prohibited Items and Businesses</h4>
            <p>
            Prohibited Items and Businesses include, but are not limited to:
                <ul>
                    <li>any weapons</li> 
                    <li>any controlled substances</li>
                    <li>any form of lottery or gambling</li>
                    <li>any form of "security" (as defined in the Securities Act of 1933)</li>
                    <li>any materials that promote hate or discrimination.</li>
                    <li>Anything listed on our Payment Processor's <a href="https://stripe.com/us/prohibited-businesses">list of Prohibited Businesses</a></li>
                </ul>
            </p>

            <br/>
            <h4>5. Creators</h4>
            <p>
            Creators may create as many projects (subject to prior approval by PolyGrant) as they can sustain if each of their Project's operations and engagement to their communities is active and responsible. Creators are not required to provide rewards, but may do so by stating them in their Project. Creators are fully responsible for all stated information in their Project, including opinions, facts, goals, deadlines/timelines, and others. Creators have a legal duty to perform and fulfill all goals, rewards, and any other actions stated in their Projects. PolyGrant is not involved in the development of any of these Projects and assumes no responsibility or liability resulting from the Projects. Creators will comply with all applicable laws and regulations when using our Services. Creators will also assume all Tax Responsibilities, collection and refunds of Donations. This includes verifying and handling any tax deductible responsbilities to your Donators. Creators are soley responsible in their interactions with Donators.
            <br/><br/>
            Creators are responsible in determining when a Project has achieved success or cannot be completed, and should retire the Project as necessary. However, PolyGrant reserves the right to disable, modify, or terminate a Project without notification to the Creator, and at any time and without reason.
            </p>

            <br/>
            <h4>6. Donators</h4>
            <p>
            PolyGrant does not guarantee the correctness, accuracy, truthiness, quality, safety, morality, legality, success, producibility, or viability of any aspect of the Projects. Donators are responsible for all their actions. Donators are responsible for doing their own research before making a Donation. All Donations are made voluntarily and at the sole discretion of the Donator. Donators may contact Creators on any questions they may have, prior to a Donation or after, and assumes all risks that may arise from that Donation. PolyGrant does not guarantee that any Donation will be used as promised, or that the Creator will fulfill any actions stated in their Project. 
            </p>

            <br/>
            <h4>7. Disputes between Creators and Donators</h4>
            <p>
            PolyGrant is not involved in the development of any Projects. When a Donator has donated
             to a Project, both the Creator and the Donator have entered into a legal contract. Creators are fully responsible and legally obligated to fulfill any rewards, deadlines, goals, or stated positions that are described in their Projects as part of their contract to Donators. PolyGrant does not have any obligation to involve itself in disputes between Creators and Donators or between Users.
            <br/><br/>
            If Creators are unable to fulfill their contract with the Donator, both parties should make contact to figure out a satisfactory resolution plan. Both parties should be honest and reasonable to each other when forming a resolution plan. If a resolution plan cannot be agreed upon, the Creator may subject to legal action by the Donator. 
            <br/><br/>
            Additionally, Creators who have failed to fulfill their contract will need to take additional steps within a reasonable timeframe:
            <ul>
                <li>Inform all their Donators about the inability to fulfill the contract. This can be done by providing a Project news update or by emailing all the Donators. The explanation should be honest, detailed and also mention reasons why the Creator cannot fulfill its promises, how funds were used, and roadblocks faced.</li><br/>
                <li>Demonstrate that funds were used appropriately.</li><br/> 
                <li>Launch and make visible effort to form resolution plans with all Donators.</li><br/>
                <li>Offer refunds to Donators if possible.</li>
            </ul>
            </p>

            <br/>
            <h4>8. Service Fees, Payment, Refunds</h4>
            <p>
            By using our Services, you agree to our fees and fees charged by our Payment Processor. Creation of a PolyGrant account is free. Donations to Projects are immediately processed and sent to the Creator, minus fees. PolyGrant does not offer any refunds on Donations. If a Donator wishes a refund of a donation, the Donator may contact the Creator directly to request a refund.
            <br/><br/>
            PolyGrant may change its fee policy and schedule at any time, but we will post notice of any changes. Once the notice is posted, the new fee policy and schedule goes into effect immediately. Users are also responsible for paying any additional fees or taxes that may arise from using our Services.
            </p>

            <br/>
            <h4>9. Intellectual Property</h4>
            <p>
            Users own the Content they upload to our Services. Users grant to us, and others acting on our behalf, a perpetual, non-exclusive, royalty-free, transferable, sublicensable, worldwide license to use, publicly display, store, copy, reproduce, adapt, modify, translate, publish, transmit, and distribute such Content in any and all media or distribution methods (now known or later developed). You also grant to us the ability to use your Content in any of our marketing or promotional activities. By submitting Content to our Services you agree that you shall not infringe on anyone's intellectual property rights, privacy rights, and proprietary rights. PolyGrant is not liable for any damages caused by User error from any Content. Users are responsible for their own actions and Content.
            </p>

            <br/>
            <h4>10. DMCA and Copyright Policy</h4>
            <p>
                Please see our <a href="/#/dmca">DMCA</a> section.
            </p>

            <br/>
            <h4>11. Links to External Websites</h4>
            <p>
            PolyGrant may contain Content that have links to external websites. PolyGrant does not assume any responsibility over these Content. PolyGrant shall not be held liable for any damage, directly or indirectly, should you choose to follow the links to external websites. These linked sites are only for your convenience and therefore you access them at your own risk.
            </p>

            <br/>
            <h4>12. Our Rights</h4> 
            <p>
            PolyGrant reserves the right to perform any of the following actions, without notice to you, for any reason, and at any time:
                <ul>
                    <li>Terminating, disabling, interrupting, or suspending your access to our Services</li>
                    <li>Terminating, disabling, interrupting, suspending, or editing your Projects or User Accounts</li>
                    <li>Make changes to our website and Services</li>
                    <li>Cancel any donation to any Project</li>
                    <li>Approve or reject a Project</li>
                    <li>Approve or reject the eligibility of a User to use our Services</li>
                </ul>
            </p>

            <br/>
            <h4>13. No Warranty</h4>
            <p>
            THE SERVICES ARE PROVIDED "AS IS" AND "AS AVAILABLE" WITHOUT WARRANTIES OF ANY KIND, WHETHER EXPRESS OR IMPLIED. TO THE FULLEST EXTENT PERMISSIBLE PURSUANT TO APPLICABLE LAW, POLYGRANT DISCLAIMS ALL WARRANTIES, EXPRESS OR IMPLIED, INCLUDING, BUT NOT LIMITED TO, IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE AND NON-INFRINGEMENT. POLYGRANT DOES NOT REPRESENT OR WARRANT THAT THE FUNCTING OR SERVICES CONTAINED IN THE SITE WILL BE UNINTERRUPTED OR ERROR-FREE, THAT THE DEFECTS WILL BE CORRECTED, OR THAT THIS SITE OR THE SERVER THAT MAKES THE SITE AVAILABLE ARE FREE OF VIRUSES OR OTHER HARMFUL COMPONENTS. POLYGRANT DOES NOT MAKE ANY WARRANTIES OR REPRESENTATIONS REGARDING THE USE OF THE MATERIALS AND CONTENT IN THIS SERVICE IN TERMS OF THEIR CORRECTNESS, ACCURACY, ADEQUACY, USEFULNESS, TIMELINESS, RELIABILITY OR OTHERWISE. SOME STATES DO NOT PERMIT LIMITATIONS OR EXCLUSIONS ON WARRANTIES, SO THE ABOVE LIMITATIONS MAY NOT APPLY TO YOU.
            </p>

            <br/>
            <h4>14. Limitation of Liability</h4>
            <p>
            POLYGRANT, ITS MEMBERS, AFFILIATES, STAFF, EMPLOYEES, PARTNERS, OFFICERS, DIRECTORS, CORPORATE PARTNERS, OR THIRD-PARTY PROVIDERS WILL NOT BE LIABLE FOR ANY INDIRECT, PUNITIVE, INCIDENTAL, SPECIAL, CONSEQUENTIAL OR EXEMPLARY DAMAGES AS A RESULT OF YOUR ACCESS, USE OF, OR INABILITY TO ACCESS OR USE THE SERVICES, INCLUDING WITHOUT LIMITATION ANY LIABILITIES ARISING FROM ANY DATA LOSS OR LOSS PROFITS, MISCONDUCT, OR USER DISPUTES. IN ALL CASES, POLYGRANT SHALL NOT BE LIABLE FOR ANY DIRECT DAMAGES EXCEEDING (IN AGGREGATE) THE FEES PAID TO POLYGRANT OR ONE HUNDRED U.S. DOLLARS ($100.00), WHICHEVER IS LESSER.
            </p>

            <br/>
            <h4>15. Indemnification</h4>
            <p>
            YOU AGREE TO INDEMNIFY, DEFEND, AND HOLD HARMLESS POLYGRANT, ITS OFFICERS, DIRECTORS, EMPLOYEES, AGENTS, LICENSORS AND SUPPLIERS (COLLECTIVELY THE "SERVICE PROVIDERS") FROM AND AGAINST ALL LOSSES, EXPENSES, DAMAGES AND COSTS, INCLUDING REASONABLE ATTORNEYS' FEES, RESULTING FROM ANY VIOLATION OF THESE TERMS AND CONDITIONS OR ANY ACTIVITY RELATED TO YOUR ACCOUNT (INCLUDING NEGLIGENT OR WRONGFUL CONDUCT) BY YOU OR ANY OTHER PERSON ACCESSING THE SITE USING YOUR INTERNET ACCOUNT. POLYGRANT RESERVES THE RIGHT TO ASSUME EXCLUSIVE DEFENSE AND CONTROL OF ANY MATTER OTHERWISE SUBJECT TO YOUR INDEMNIFICATION AND EACH USER AGREES TO COOPERATE AND ASSIST US IN THE DEFENSE OR SETTLEMENT OF ANY SUCH MATTERS.
            </p>

            <br/>
            <h4>16. Governing Law</h4>
            <p>
            THESE TERMS WILL BE GOVERNED AND CONSTRUED IN ACCORDANCE WITH THE LAWS OF MARYLAND, UNITED STATES, WITHOUT REGARD TO ITS CONFLICT OF LAW PROVISIONS. FURTHERMORE, OUR SERVICES WILL BE DEEMED A PASSIVE ONE THAT DOES NOT GIVE RISE TO PERSONAL JURISDICTION OVER POLYGRANT, EITHER SPECIFIC OR GENERAL, IN JURISDICTIONS OTHER THAN THE STATE OF MARYLAND.
            </p>

        </div>
    </div>
</div>
